// -----------------------------------------------------------------
// Base
// -----------------------------------------------------------------
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: 1280px) {
    font-size: calc(var(--vw)/128);  // Desgin PC width 2000px/10
  }
  @include mq(sp) {
    font-size: calc(var(--vw)/37.5);
    &.no-scroll {
      overflow: hidden;
      touch-action: none;
    }
  }
}

body {
  background: #FFFCBE;
  font-family: $zen_kaku_gothic;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #222;
  -webkit-text-size-adjust: 100%;
  @include mq(sp) {
    font-size: vw(14);
  }
}

a {
  transition: all 0.3s;
  outline: none;
  text-decoration: none;
  color: inherit;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  @include mq(sp) {
    width: 100%;
  }
}

picture {
  display: block;
}

button {
  transition: all .3s ease-out;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none transparent;
  color: inherit;
  font-size: inherit;
  line-height: 1;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

input {
  outline: none;
  border-radius: 0;
  transition: all .3s ease-out;
}

textarea {
  outline: none;
  resize: vertical;
  -webkit-appearance: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999999;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999999;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #999999;
}


#wrapper {
  position: relative;
  overflow: hidden;
}

.l-inner {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  @media only screen and (max-width: 1280px) {
    width: 116rem;
  }
  @include mq(sp) {
    padding: 0 vw(24);
    width: auto;
  }
}

@include mq(pc) {
	.is-sp {
		display: none !important;
	}
}

@include mq(sp) {
	.is-pc {
		display: none !important;
	}
}

.is-none {
  display: none !important;
}
