// @font-face {
//   font-family: 'Couture';
//   src: url('../fonts/Couture.woff2') format('woff2'),
//        url('../fonts/Couture.woff') format('woff'),
//        url('../fonts/Couture.ttf') format('truetype'),
//        url('../fonts/Couture.svg#Couture') format('svg');
// }

// @include font-face('A-OTF-Midashi-Go-MB31-Pro-MB31','../fonts/A-OTF-Midashi-Go-MB31-Pro-MB31', normal, normal, swap);

@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=Noto+Sans+JP:wght@100..900&family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');
