.c-borderBg {
  // position: absolute;
  // width: 100%;
  // height: 100%;
  // top: 0;
  // left: 0;
  opacity: .4;
  span {
    background: #643617;
    position: absolute;
    &:nth-child(1),
    &:nth-child(3) {
      width: 100%;
      height: 1px;
      left: 0;
    }
    &:nth-child(2),
    &:nth-child(4) {
      width: 1px;
      height: 100%;
      top: 0;
    }
    &:nth-child(1) {
      top: .8rem;
    }
    &:nth-child(2) {
      right: .8rem;
    }
    &:nth-child(3) {
      bottom: .8rem;
    }
    &:nth-child(4) {
      left: .8rem;
    }
  }
}
