.c-borderBg {
  // position: absolute;
  // width: 100%;
  // height: 100%;
  // top: 0;
  // left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid #222;
  span {
    background: #643617;
    position: absolute;
    opacity: .4;
    &:nth-child(1),
    &:nth-child(3) {
      width: 100%;
      height: 1px;
      left: 0;
    }
    &:nth-child(2),
    &:nth-child(4) {
      width: 1px;
      height: 100%;
      top: 0;
    }
    &:nth-child(1) {
      top: .8rem;
    }
    &:nth-child(2) {
      right: .8rem;
    }
    &:nth-child(3) {
      bottom: .8rem;
    }
    &:nth-child(4) {
      left: .8rem;
    }
  }
  &--small {
    span {
      &:nth-child(1) {
        top: .5rem;
      }
      &:nth-child(2) {
        right: .5rem;
      }
      &:nth-child(3) {
        bottom: .5rem;
      }
      &:nth-child(4) {
        left: .5rem;
      }
    }
  }
}
