// -----------------------------------------------------------------
// Button
// -----------------------------------------------------------------
.c-btn {
  display: inline-block;
  min-width: 23.5rem;
  line-height: 5.8rem;
  background: #1559A6;
  border-radius: 3.7rem;
  color: #fff;
  font-family: $cabin_condensed;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0;
  position: relative;
  border: 2px solid #F9D20E;
  padding: 0 1rem 0 4rem;
  text-align: left;
  &::after {
    content: '';
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background: #F9D20E;
    position: absolute;
    top: calc(50% - .4rem);
    right: 2.4rem;
    transition: all .3s ease-in-out;
  }
  &:hover {
    background: #F9D20E;
    border-color: #1559A6;
    color: #1559A6;
    &::after {
      transform: scale(2.25);
      transform-origin: center;
      background: #1559A6;
    }
  }
  &--white {
    background: #fff;
    color: #222222;
    &::after {
      background: #1559A6;
    }
    &:hover {
      background: #F9D20E;
      border-color: #fff;
      color: #1559A6;
    }
  }

  &_border {
    background: none !important;
    border: none !important;
    border-bottom: 1px solid #222 !important;
    border-radius: 0 !important;
    line-height: 1;
    padding: 0 0 1.2rem;
    color: #222 !important;
    min-width: 20.7rem;
    &::after {
      right: 0;
      background: #1559A6;
      top: calc(50% - 1rem);
    }
    &:hover {
      color: #1559A6 !important;
      border-color: #1559A6 !important;
    }
  }

}

.c-btn-back {
  font-size: 1.6rem;
  margin-top: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.03em;
  display: inline-flex;
  align-items: center;
  gap: 4.8rem;
  &::after {
    content: '';
    width: 3.7rem;
    height: 3.7rem;
    background: url('../img/icon_arrow_04.svg') no-repeat center / contain;
    display: inline-block;
    transition: all .3s ease-in-out;
  }
  &:hover {
    color: #1559A6;
    &::after {
      background-image: url('../img/icon_arrow_05.svg');
    }
  }
}
