// -----------------------------------------------------------------
// Heading
// -----------------------------------------------------------------
.c-heading {

}

.c-lead {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 1px 0 0;
  span {
    font-size: 4.2rem;
    color: #222222;
    background: #fff;
    width: 6.9rem;
    line-height: 6.6rem;
    border: 1px solid #222;
    text-align: center;
    margin: -1px -1px 0px;
    // &:last-child {
    //   width: 6.7rem;
    // }
  }
  @include mq(sp) {
    span {
      font-size: vw(24);
      width: vw(41);
      line-height: vw(42);
    }
  }
}

.c-hashtag {
  font-family: $cabin_condensed;
  font-size: 12rem;
  letter-spacing: 0.05em;
  line-height: 1;
  color: #1559A6;
  font-weight: 700;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: url('../img/bg_ttl.png');
	color: transparent;
  @include mq(sp) {
    font-size: vw(48);
  }
}

.c-ttl {
  font-family: $cabin_condensed;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0;
  margin-bottom: .4rem;
  @include mq(sp) {
    font-size: vw(14);
    margin-bottom: vw(8);
  }
}
