// -----------------------------------------------------------------
// modal
// -----------------------------------------------------------------
.fancybox__backdrop {
  background: rgba($color: #A6A6A6, $alpha: .8);
}

.fancybox__content>.f-button.is-close-btn {
  width: 4.8rem;
  height: 4.8rem;
  opacity: 1;
  top: -2.4rem;
  right: -2.4rem;
  svg {
    width: 100%;
    height: 100%;
    stroke: none;
  }
  @include mq(sp) {
    width: 4rem;
    height: 4rem;
    top: -2rem !important;
    right: -2rem !important;
  }
}

.fancybox__container:not(.is-compact) .fancybox__slide.has-close-btn {
  @include mq(pc) {
    padding: 6rem 0 8rem;
  }
}

.fancybox__slide {
  @include mq(sp) {
    padding: 2.4rem 2.4rem 6rem;
  }
}

.fancybox__content {
  width: 104rem;
  padding: 0;
  border-radius: .5rem;
  @include mq(sp) {
    width: 100%;
  }
}

.c-modal {

}
