// -----------------------------------------------------------------
// Hover
// -----------------------------------------------------------------
.u-hover-opacity {
  transition: opacity 0.3s;
	backface-visibility: hidden;
	@include mq(pc) {
		&:hover {
			opacity: 0.8
		}
	}
}

.u-imgScale {
  overflow: hidden;
  position: relative;
  img {
    display: block;
    transition: transform .8s cubic-bezier(.09, .43, .1, .79);
  }
}

.u-hover-imgScale {
  &:hover {
    .u-imgScale {
      img {
        transform: scale(1.1);
      }
    }
  }
}
