<section class="sec-recruit">
  <h2 class="sec-recruit_ttl">#RECURUITMENT</h2>
  <h3 class="sec-recruit_lead c-lead"><span>採</span><span>用</span><span>情</span><span>報</span></h3>
  <div class="sec-recruit_txt">俺たちの旅はまだ始まったばかりだ・・・！</div>
  <div class="sec-recruit_btn"><a href="/recruit" class="c-btn"><span>VIEW RECRUITMENT</span></a></div>
  <div class="sec-recruit_image"><img src="/assets/img/img_recruit_01.png" alt=""></div>
</section>

<footer class="l-footer">
      <div class="l-footer_inner">
        <div class="l-footer_top">
          <div class="l-footer_logo"><a href="/"><img src="/assets/img/logo.png" alt=""></a></div>
          <ul class="l-footer_menu">
            <li><a href="/company">会社概要</a></li>
            <li><a href="/business">仕事内容</a></li>
            <li><a href="/interview">社員紹介</a></li>
            <li><a href="/culture">働く環境</a></li>
            <li><a href="/program">研修制度</a></li>
            <li><a href="/recruit">採用情報</a></li>
          </ul>
        </div>
        <div class="l-footer_bottom">
          <div class="l-footer_address">クオリティ・ワン株式会社<br>〒333-0861　埼玉県川口市柳崎2－14－3</div>
          <div class="l-footer_tel">
            <p>TEL：048-424-4615</p>
            <p>FAX：048-424-4616</p>
          </div>
          <div class="l-footer_info">代表者：代表取締役 笠原大助</div>
          <div class="l-footer_copy">© copy dummy copy dummy. copy dummy</div>
        </div>
      </div>
    </footer>
    <!-- /footer -->
