<header id="header" class="l-header">
      <div class="l-header_inner">
        <div class="l-header_logo"><a href="/">
          <img src="/assets/img/logo.png" loading="lazy" alt="クオリティ・ワン株式会社" width="624" height="110">
        </a></div>
        <div class="l-header_btn is-pc"><a href="/recruit">ENTRY</a></div>
        <div class="l-header_hamburger">
          <span></span>
        </div>
      </div>

      <div class="l-header_overlay"></div>

      <nav class="l-header_nav">
        <div class="nav-content">
          <div class="nav-image">
            <picture>
              <source media="(min-width:769px)" srcset="/assets/img/img_nav_01.png">
              <img src="/assets/img/img_nav_01_sp.png" loading="lazy" alt="">
            </picture>
          </div>
          <div class="nav-icon icon01 is-pc"><img src="/assets/img/icon_nav_01.png" loading="lazy" alt="" width="232" height="186"></div>
          <div class="nav-icon icon02 is-pc"><img src="/assets/img/icon_nav_02.png" loading="lazy" alt="" width="176" height="170"></div>
          <div class="nav-bg"></div>
          <div class="nav-inner">
            <ul class="nav-menu">
              <li><a href="/company"><span>COMPANY</span>会社概要</a></li>
              <li><a href="/business"><span>BUSINESS</span>仕事内容</a></li>
              <li><a href="/interview"><span>INTERVIEW</span>社員紹介</a></li>
              <li><a href="/culture"><span>CULTURE</span>働く環境</a></li>
              <li><a href="/program"><span>PROGRAM</span>研修制度</a></li>
              <li><a href="/recruit"><span>RECURUITMENT</span>採用情報</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- /header -->
