// -----------------------------------------------------------------
// FOOTER
// -----------------------------------------------------------------
.sec-recruit {
  position: relative;
  background: url('../img/bg_recruit_01.png') no-repeat center top / cover;
  text-align: center;
  padding: 4.9rem 0 15rem;
  &::before {
    content: '';
    width: 26.9rem;
    height: 12.5rem;
    background: url('../img/icon_footer_01.png') no-repeat center top / contain;
    position: absolute;
    top: .4rem;
    left: calc(50% - 55.4rem);
  }
  &::after {
    content: '';
    position: absolute;
    width: 132.2rem;
    height: 20.8rem;
    background: url('../img/bg_recruit_02.png') no-repeat center top / contain;
    bottom: -2.4rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &_content {
    position: relative;
    z-index: 2;
  }

  &_ttl {
    font-family: $cabin_condensed;
    font-size: 10rem;
    color: #fff;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    &::before {
      content: '';
      width: 17.2rem;
      height: 4.3rem;
      background: url('../img/icon_ttl_01.png') no-repeat center / contain;
      display: inline-block;
      margin-bottom: 2.4rem;
    }
  }

  &_lead {
    margin: 4rem 0 2.7rem;
    .c-lead {
      border-color: #fff;
      span {
        font-size: 4.8rem;
        width: 6.8rem;
        line-height: 7.4rem;
        border-color: #fff;
        color: #fff;
        background: none;
      }
    }
  }

  &_txt {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.6;
    color: #fff;
    margin-bottom: 3.8rem;
  }

  &_image {
    position: absolute;
    max-width: 122.15rem;
    width: 100%;
    height: 46.6rem;
    bottom: 1.2rem;
    left: calc(50% - 1.4rem);
    transform: translateX(-50%);
    transition: transform .3s ease-in-out;
    &.is-zoom {
      transform: translateX(-50%) scale(1.05);
    }
  }
}


.l-footer {
  background: #104B98;
  padding: 11rem 0 4rem;

  &_inner {
    max-width: 116rem;
    width: 100%;
    margin: 0 auto;
  }

  &_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom:7rem;
    margin-bottom: 2.4rem;
  }

  &_logo {
    width: 31.2rem;
    a {
      &:hover {
        opacity: .5;
      }
    }
  }

  &_menu {
    color: #fff;
    font-size: 1.6rem;
    display: flex;
    gap: 3.2rem;
    li {
      a {
        &:hover {
          color: #F9D20E;
        }
      }
    }
  }

  &_bottom {
    display: flex;
    align-items: flex-end;
    gap: 3rem;
    color: #fff;
    line-height: 1.6;
  }

  &_copy {
    margin-left: auto;
    font-family: $cabin_condensed;
    font-size: 1.2rem;
  }
}

