// -----------------------------------------------------------------
// FOOTER
// -----------------------------------------------------------------
.sec-recruit {
  position: relative;
  background: url('../img/bg_recruit_01.png') no-repeat center top / cover;
}
.l-footer {

}

