// -----------------------------------------------------------------
// FOOTER
// -----------------------------------------------------------------
.sec-recruit {
  position: relative;
  background: url('../img/bg_recruit_01.png') no-repeat center top / cover;
  text-align: center;
  padding: 4.9rem 0 15rem;
  @include mq(sp) {
    padding: vw(48) 0 vw(242);
    background-image: url('../img/bg_recruit_01_sp.png');
  }
  &::before {
    content: '';
    width: 26.9rem;
    height: 12.5rem;
    background: url('../img/icon_footer_01.png') no-repeat center top / contain;
    position: absolute;
    top: .4rem;
    left: calc(50% - 55.4rem);
    @include mq(sp) {
      content: none;
    }
  }
  &::after {
    content: '';
    position: absolute;
    width: 132.2rem;
    height: 20.8rem;
    background: url('../img/bg_recruit_02.png') no-repeat center top / contain;
    bottom: -2.4rem;
    left: 50%;
    transform: translateX(-50%);
    @include mq(sp) {
      width: 100vw;
      height: vw(90.5);
      background-image: url('../img/bg_recruit_02_sp.png');
      bottom: vw(-13);
    }
  }

  &_content {
    position: relative;
    z-index: 2;
  }

  &_ttl {
    font-family: $cabin_condensed;
    font-size: 10rem;
    color: #fff;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    &::before {
      content: '';
      width: 17.2rem;
      height: 4.3rem;
      background: url('../img/icon_ttl_01.png') no-repeat center / contain;
      display: inline-block;
      margin-bottom: 2.4rem;
    }
    @include mq(sp) {
      font-size: vw(40);
      &::before {
        width: vw(110);
        height: vw(42);
        background-image: url('../img/icon_ttl_01_sp.png');
        margin-bottom: vw(32);
      }
    }
  }

  &_lead {
    margin: 4rem 0 2.7rem;
    .c-lead {
      border-color: #fff;
      span {
        font-size: 4.8rem !important;
        width: 6.8rem;
        line-height: 7.4rem;
        border: 1px solid #fff;
        color: #fff;
        background: #1559A6;
      }
    }
    @include mq(sp) {
      margin: vw(24) 0 vw(16);
      .c-lead {
        span {
          font-size: vw(24) !important;
          width: vw(40) !important;
          line-height: vw(40) !important;
        }
      }
    }
  }

  &_txt {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.6;
    color: #fff;
    margin-bottom: 3.8rem;
    @include mq(sp) {
      font-size: vw(14);
      margin-bottom: vw(30);
    }
  }

  &_image {
    position: absolute;
    max-width: 122.15rem;
    width: 100%;
    height: 46.6rem;
    bottom: 1.2rem;
    left: calc(50% - 1.4rem);
    transform: translateX(-50%);
    transition: transform .3s ease-in-out;
    &.is-zoom {
      transform: translateX(-50%) scale(1.05);
    }
    @include mq(sp) {
      max-width: 100vw;
      height: vw(266);
      bottom: .3rem;
      left: 0;
      transform: unset;
      &.is-zoom {
        transform: scale(1.05);
      }
    }
  }
}


.l-footer {
  background: #104B98;
  padding: 11rem 0 4rem;
  @include mq(sp) {
      padding: vw(70) 0 vw(35);
  }

  &_inner {
    max-width: 116rem;
    width: 100%;
    margin: 0 auto;
    @include mq(sp) {
      padding: 0 vw(24);
    }
  }

  &_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom:7rem;
    margin-bottom: 2.4rem;
    @include mq(sp) {
      display: block;
      margin-bottom: vw(24);
      padding-bottom: vw(50);
    }
  }

  &_logo {
    width: 31.2rem;
    a {
      &:hover {
        opacity: .5;
      }
    }
    @include mq(sp) {
      width: vw(220);
      margin-bottom: vw(46);
    }
  }

  &_menu {
    color: #fff;
    font-size: 1.6rem;
    display: flex;
    gap: 3.2rem;
    li {
      a {
        &:hover {
          color: #F9D20E;
        }
      }
    }
    @include mq(sp) {
      font-size: vw(14);
      flex-wrap: wrap;
      gap: vw(25) vw(40);
    }
  }

  &_bottom {
    display: flex;
    align-items: flex-end;
    gap: 3rem;
    color: #fff;
    line-height: 1.6;
    @include mq(sp) {
      flex-direction: column;
      align-items: flex-start;
      gap: vw(20);
    }
  }

  &_copy {
    margin-left: auto;
    font-family: $cabin_condensed;
    font-size: 1.2rem;
    @include mq(sp) {
      margin-left: 0;
      margin-top: vw(7);
    }
  }
}

