.business-content {
  padding: 12.5rem 0 0;
  @include mq(sp) {
    padding: vw(56) 0 0;
  }

  &_wrap {
    max-width: 117.8rem;
    width: 100%;
    height: 160.1rem;
    margin: 0 auto;
    position: relative;
    background: url('../img/business/bg_content.png') no-repeat center / contain;
    @include mq(sp) {
      background: url('../img/business/bg_content_sp.png') no-repeat center / cover;
      height: auto;
      max-width: 100%;
    }
  }

  &_inner {
    padding: 8.7rem 9.2rem 0;
    @include mq(sp) {
      padding: vw(98) vw(24) vw(144);
    }
  }

  &_ttl {
    @include mq(sp) {
      margin-bottom: vw(130);
    }
  }

  &_btn {
    position: absolute;
    @include mq(sp) {
      position: relative;
      top: auto !important;
      right: auto !important;
      left: auto !important;
      bottom: auto !important;
      margin-bottom: vw(32);
    }
    a {
      display: flex;
      align-items: flex-end;
      width: 36.85rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      &:hover {
        .btn-link {
          color: #074C9B;
          svg {
            ellipse {
              stroke: #F9D20E;
              fill: #074C9B;
            }
            path {
              stroke: #fff;
            }
          }
        }
      }
      @include mq(sp) {
        width: 100%;
        height: vw(141) !important;
        background-image: url('../img/business/bg_btn_05.png') !important;
      }
    }
    &.btn01 {
      top: 43rem;
      left: 8rem;
      a {
        height: 24.5rem;
        background-image: url('../img/business/bg_btn_01.png');
      }
    }
    &.btn02 {
      top: 61rem;
      right: 12rem;
      a {
        height: 22.45rem;
        background-image: url('../img/business/bg_btn_02.png');
      }
    }
    &.btn03 {
      bottom: 50.5rem;
      left: 8rem;
      a {
        height: 24.75rem;
        background-image: url('../img/business/bg_btn_03.png');
      }
    }
    &.btn04 {
      bottom: 25rem;
      right: 18rem;
      a {
        height: 22.7rem;
        background-image: url('../img/business/bg_btn_04.png');
      }
    }

    .btn-text {
      height: 16.3rem;
      padding-top: 4.9rem;
      padding-left: 3.9rem;
      @include mq(sp) {
        width: 100%;
        height: 100%;
        padding: 0 vw(58) 0 vw(45);
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .btn-link {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      .txt {
        font-size: 1.8rem;
        line-height: 1.3;
        font-weight: 700;
        @include mq(sp) {
          font-size: vw(18);
        }
      }
      .icon {
        svg, img {
          width: 5.7rem;
        }
        ellipse {
          transition: all .3s ease-in-out;
        }
        path {
          transition: all .3s ease-in-out;
        }
      }
      @include mq(sp) {
        display: block;
        .icon {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: vw(58);
        }
      }
    }

    .btn-note {
      font-size: 1.2rem;
      font-weight: 700;
      margin-top: 1rem;
      @include mq(sp) {
        margin-top: vw(5);
        font-size: vw(12);
      }
    }
  }

  &_modal {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s ease-in-out;
    &.is-acitve {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      .modal-overlay {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
      .modal-content {
        transform: translateX(0);
        @include mq(sp) {
          transform: unset;
        }
      }
    }

    .modal-overlay {
      background: #9A9898;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      mix-blend-mode: multiply;
      transition: all .1s ease-in-out .3s;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    .modal-content {
      position: fixed;
      top: 0;
      right: 0;
      max-width: 46rem;
      width: 100%;
      height: 100%;
      background: #1559A6;
      z-index: 101;
      overflow-y: auto;
      transform: translateX(100%);
      transition: all .2s ease-in-out .3s;
      @include mq(sp) {
        max-width: 100%;
        background: none;
        transform: unset;
      }
    }

    .modal-inner {
      padding: 6rem 5rem;
      @include mq(sp) {
        padding: vw(5) vw(24) vw(64);
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        background: #1559A6;
        border-radius: vw(20) vw(20) 0 0;
      }
    }

    .modal-heading {
      position: relative;

      .heading-ttl {
        font-size: 1.8rem;
        line-height: 1.3;
        position: absolute;
        bottom: 0;
        left: 4.5rem;
        height: 16.3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
          display: block;
          font-size: 1.2rem;
          margin-top: 2rem;
        }
        @include mq(sp) {
          font-size: vw(18);
        }
      }
    }

    .modal-copy {
      font-size: 1.8rem;
      font-weight: 700;
      color: #fff;
      line-height: 2;
      margin-top: 4.5rem;
      min-height: 31.3rem;
      @include mq(sp) {
        font-size: vw(14);
        margin-top: vw(40);
        min-height: auto;
      }
    }

    .modal-btn {
      margin-top: auto;
      width: 100%;
      background: #fff;
      font-size: 1.8rem;
      color: #1559A6;
      line-height: 6rem;
      text-align: center;
      margin-top: 7rem;
      cursor: pointer;
      transition: all .3s ease-in-out;
      &::before {
        content: '';
        width: 1.4rem;
        height: 1.4rem;
        background: url('../img/icon_close_01.svg') no-repeat center / contain;
        display: inline-block;
        margin-right: 2rem;
      }
      &:hover {
        background: #E1E1E1;
      }
      @include mq(sp) {
        font-size: vw(18);
        line-height: vw(60);
        margin-top: vw(40);
      }
    }
  }
}


.business-fun {
  padding: 12.8rem 0 16rem;
  @include mq(sp) {
    padding: 0 0 vw(80);
    margin-top: vw(-13);
  }

  &_content {
    padding: 0 4rem;
    @include mq(sp) {
      padding: 0;
    }
  }

  &_ttl {
    margin: 0 0 7.6rem 4rem;
    @include mq(sp) {
      margin: 0;
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 5.7rem;
    @include mq(sp) {
      margin-top: vw(48);
      display: block;
    }
  }

  &_item {
    position: relative;
    border: 1px solid #222;
    background: rgba($color: #FEC75D, $alpha: .2);
    padding: 3rem 4rem;
    &:nth-child(2) {
      padding: 2.5rem 8.3rem 2.4rem 4rem;
      .item-image {
        width: 24.9rem;
      }
      @include mq(sp) {
        padding: 4.4rem 2.2rem 2.3rem;
        .item-image {
          width: 8rem;
          margin-left: 0;
        }
        .item-text {
          margin-top: 1.7rem;
        }
      }
    }
    &:nth-child(3) {
      .item-text {
        padding-top: 0;
      }
      @include mq(sp) {
        .item-image {
          width: 9rem;
          margin-left: 0;
        }
        .item-text {
          padding-top: .4rem;
        }
      }
    }
    @include mq(sp) {
      padding: vw(46) vw(22) vw(24);

      & + .business-fun_item {
        margin-top: vw(48);
      }
    }

    .item-ttl {
      background: url('../img/business/bg_ttl_01.png') no-repeat center / cover;
      min-width: 32.3rem;
      line-height: 5.4rem;
      position: absolute;
      top: -3rem;
      left: calc(50% - 16.15rem);
      text-align: center;
      font-size: 2rem;
      letter-spacing: 0.05em;
      @include mq(sp) {
        min-width: vw(280);
        line-height: vw(54);
        left: calc(50% - #{vw(140)});
        font-size: vw(16);
        top: -2.4rem;
      }
    }

    .item-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include mq(sp) {
        flex-direction: column-reverse;
      }
    }

    .item-text {
      width: 55.7rem;
      flex: 0 0 auto;
      font-size: 1.8rem;
      line-height: 2;
      font-weight: 700;
      padding-top: 1.6rem;
      letter-spacing: 0.05em;
      @include mq(sp) {
        width: 100%;
        font-size: vw(14);
        margin-top: vw(10);
        padding-top: 0;
      }
    }

    .item-image {
      width: 29.2rem;
      @include mq(sp) {
        width: vw(99);
        margin-left: 2rem;
      }
    }
  }

}

