.interview-content {
  padding: 14rem 0 0;
  @include mq(sp) {
    padding: vw(125) 0 0;
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    @include mq(sp) {
      gap: vw(109);
    }
  }

  &_item {
    position: relative;
    &::before {
      content: '';
      width: calc(50% + 58rem);
      height: 100%;
      background: #FDE467;
      border-radius: 0 8rem 8rem 0;
      position: absolute;
      top: 0;
      left: 0;
      @include mq(sp) {
        width: vw(351);
        border-radius: 0 vw(40) vw(40) 0;
      }
    }

    &:nth-child(2n) {
      &::before {
        left: auto;
        right: 0;
        border-radius: 8rem 0 0 8rem;
      }
      .item-content {
        flex-direction: row-reverse;
      }
      @include mq(sp) {
        &::before {
          border-radius: vw(40) 0 0 vw(40);
        }
        .item-content {
          padding: vw(60) 0 vw(48) vw(16);
        }
        .item-image {
          left: auto;
          right: vw(24);
        }
        .item-heading {
          text-align: left;
        }
      }
    }

    &:nth-child(1) {
      .item-image figure {
        width: 29.45rem;
        @include mq(sp) {
          width: vw(138);
        }
      }
    }

    &:nth-child(2) {
      .item-image figure {
        width: 27.2rem;
        @include mq(sp) {
          width: vw(140);
        }
      }
    }

    &:nth-child(3) {
      .item-image figure {
        width: 25.1rem;
        @include mq(sp) {
          width: vw(114);
        }
      }
    }

    &:nth-child(4) {
      .item-image figure {
        width: 27.9rem;
        @include mq(sp) {
          width: vw(149);
        }
      }
    }

    .item-content {
      padding: 8rem 0 4.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;
      margin: -4.8rem 8rem 0;
      @include mq(sp) {
        display: block;
        padding: vw(60) vw(16) vw(48) 0;
        margin: 0;
      }
    }

    .item-image {
      width: 32.9rem;
      height: 46.8rem;
      flex: 0 0 auto;
      position: relative;
      margin-top: -8rem;
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        background: #FBFADC;
        border: 1px solid #222;
        border-radius: 16.5rem;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .3s ease-in-out;
      }
      &::after {
        content: '';
        width: 3.9rem;
        height: 4.5rem;
        background: url('../img/icon_01.svg') no-repeat center / contain;
        position: absolute;
        top: 2.6rem;
        left: -1.1rem;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
      }
      figure {
        position: relative;
        margin: 0 auto;
      }
      .number {
        font-family: $cabin_condensed;
        font-size: 2rem;
        font-weight: 700;
        transform: rotate(38.07deg);
        position: absolute;
        top: 1.3rem;
        right: 3.8rem;
      }
      &.is-active {
        &::before {
          background: #F9D20E;
        }
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
      @include mq(sp) {
        width: vw(156);
        height: vw(222);
        margin-top: 0;
        position: absolute;
        top: vw(-48);
        margin-top: 0;
        &::before {
          border-radius: vw(165);
        }
        &::after {
          content: none;
        }
        figure {
          width: vw(114);
        }
        .number {
          font-size: vw(16);
          top: vw(6);
          right: vw(3);
        }
      }
    }

    .item-text {
      width: 56rem;
      @include mq(sp) {
        width: 100%;
      }
    }

    .item-heading {
      display: flex;
      align-items: flex-end;
      gap: 2rem;
      @include mq(sp) {
        display: block;
        text-align: right;
      }
    }

    .item-info {
      font-size: 1.6rem;
      font-weight: 700;
      @include mq(sp) {
        font-size: vw(16);
        margin-top: vw(10);
        letter-spacing: 0.05em;
      }
    }

    .item-copy {
      width: 100%;
      height: 21.2rem;
      background: url('../img/interview/bg_text_01.png') no-repeat center / cover;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 7rem;
      margin-top: 2.4rem;
      font-size: 1.8rem;
      line-height: 2;
      font-weight: 700;
      @include mq(sp) {
        height: vw(200);
        background-image: url('../img/interview/bg_text_01_sp.png');
        font-size: vw(14);
        margin-top: vw(60);
        padding: 0 vw(45);
      }
    }

    .item-btn {
      text-align: right;
      margin-top: 3.6rem;
      @include mq(sp) {
        text-align: center;
        margin-top: vw(30);
      }
    }
  }
}


.interview-gallery {
  padding: 14rem 0 16rem;
  @include mq(sp) {
    padding: vw(56) 0 vw(80);
  }

  .l-inner {
    @include mq(sp) {
      padding: 0;
    }
  }

  &_content {
    padding: 0 4.7rem;
    @include mq(sp) {
      padding: 0;
    }
  }

  &_ttl {
    @include mq(sp) {
      margin-left: vw(40);
    }
  }

  &_box {
    margin-top: 2.2rem;
    position: relative;
    padding: 9.4rem 7.4rem 5rem;
    background: url('../img/interview/bg_gallery.png') no-repeat center / cover;
    @include mq(sp) {
      margin-top: vw(40);
      padding: vw(69) vw(24) vw(56);
      background-image: url('../img/interview/bg_gallery_sp.png');
    }
  }

  &_slider {
    .splide__slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .splide__arrows {
      @include mq(sp) {
        margin-top: vw(32);
        display: flex;
        justify-content: center;
        gap: vw(75);
      }
    }

    .splide__arrow {
      width: 6.3rem;
      height: 6.3rem;
      background: url('../img/icon_arrow_02.png') no-repeat center / contain;
      position: absolute;
      left: 0;
      right: auto;
      svg {
        display: none;
      }
      @include mq(sp) {
        position: relative;
        left: auto !important;
        right: auto !important;
        top: auto !important;
        transform: unset;
      }
    }

    .splide__arrow--prev {
      transform: scaleX(-1) translateY(-50%);
      @include mq(sp) {
        transform: scaleX(-1);
      }
    }

    .splide__arrow--next {
      left: 13.9rem;
    }

    .splide__number {
      font-size: 1.6rem;
      font-weight: 700;
      letter-spacing: 0.05em;
      position: absolute;
      top: 2.8rem;
      left: 8.5rem;
      @include mq(sp) {
        font-size: vw(16);
        top: auto;
        bottom: vw(20);
        left: 0;
        width: 100%;
        text-align: center;
      }
    }

    .interview-gallery_main {
      border-radius: 1.6rem;
      overflow: hidden;
      border: 2px solid #1559A6;

      .splide__slide {
        height: 49.7rem;
        @include mq(sp) {
          height: vw(215);
        }
      }
    }

    .interview-gallery_thumbnail {
      margin-top: 3rem;
      .splide__track {
        margin-left: auto;
        width: 66.3rem;
      }
      .splide__slide {
        height: 8.5rem;
        border-radius: .8rem;
        border: none !important;
        overflow: hidden;
        &::before {
          content: '';
          width: 100%;
          height: 100%;
          background: rgba($color: #000000, $alpha: .5);
          position: absolute;
          top: 0;
          left: 0;
          transition: all .3s ease-in-out;
        }
        &::after {
          content: '';
          width: 100%;
          height: 100%;
          border: 2px solid #1559A6;
          border-radius: .8rem;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: all .3s ease-in-out;
        }

        &.is-active {
          &::before {
            opacity: 0;
          }
          &::after {
            opacity: 1;
          }
        }
      }
      @include mq(sp) {
        margin-top: vw(8);
        .splide__track {
          width: 100%;
        }
        .splide__slide {
          height: vw(72);
        }
      }
    }
  }
}

.interview-detail {
  padding: 14.4rem 0 12rem;
  @include mq(sp) {
    padding: vw(56) 0;
  }

  &_content {
    background: #FDE467;
    border-radius: 8rem;
    padding: 7rem 3rem 6rem;
    @include mq(sp) {
      border-radius: vw(40);
      padding: vw(32) vw(20) vw(40);
    }
  }

  .content-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.7rem;
    font-family: $noto_san;
    color: #321200;
    @include mq(sp) {
      display: block;
    }

    & + .content-text {
      margin-top: 3rem;
      @include mq(sp) {
        margin-top: vw(40);
      }
    }

    &_ttl {
      background: #fff;
      border-radius: 2.8rem 2.8rem 2.8rem 0;
      font-size: 2.4rem;
      line-height: 1.45833333;
      letter-spacing: 0.08em;
      font-weight: 500;
      display: flex;
      align-items: flex-start;
      gap: .8rem;
      padding: 2rem;
      span {
        width: 3.4rem;
        height: 3.4rem;
        background: #1559A6;
        border-radius: 50%;
        color: #fff;
        font-family: $cabin_condensed;
        font-size: 1.6rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @include mq(sp) {
        border-radius: vw(28) vw(28) vw(28) 0;
        font-size: vw(16);
        line-height: 1.4375;
        padding: vw(16) vw(20) vw(16) vw(12);
        display: inline-flex;
        span {
          width: vw(23);
          height: vw(23);
          font-size: vw(12);
        }
      }
    }

    &_copy {
      max-width: 60.4rem;
      background: #fff;
      border-radius: 2.8rem 2.8rem 0 2.8rem;
      padding: 2rem;
      font-size: 1.5rem;
      line-height: 2;
      margin-top: 3rem;
      letter-spacing: 0;
      @include mq(sp) {
        max-width: 100%;
        border-radius: vw(28) vw(28) 0 vw(28);
        font-size: vw(14);
        margin-top: vw(16);
      }
    }
  }

  .content-image {
    max-width: 91.8rem;
    margin: 6rem auto;
    border-radius: 1.6rem;
    overflow: hidden;
    @include mq(sp) {
      max-width: 100%;
      margin: vw(40) 0;
      border-radius: vw(16);
      height: vw(191);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.interview-list {
  background: url('../img/interview/bg_01.png') no-repeat center / cover;
  padding: 10rem 0 vw_pc(240);
  margin-bottom: vw_pc(-160);
  @include mq(sp) {
    padding: vw(55) 0 vw(100);
    margin-bottom: vw(-20);
  }

  &_ttl {
    @include mq(pc) {
      margin-left: 7rem;
    }
  }

  &_slider {
    margin-top: 3rem;
    @include mq(sp) {
      margin-top: vw(40);
    }
  }

  .top-interview_slider {
    @include mq(pc) {
      padding-left: calc(50% - 51rem);
      .splide__track {
        overflow: unset;
      }
      .item {
        &.is-zoom {
          &:not(.is-first) {
            // margin-left: 6rem;
          }
          &.is-last {
            // margin-left: 12rem;
          }
        }
      }
      .splide__arrows {
        left: calc(50% + 10rem);
        bottom: 1rem;
      }
      .splide__number {
        bottom: 3rem;
        left: calc(50% + 19rem);
      }
    }
  }
}

