.interview-content {
  padding: 14rem 0 0;

  &_list {
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }

  &_item {
    position: relative;
    &::before {
      content: '';
      width: calc(50% + 58rem);
      height: 100%;
      background: #FDE467;
      border-radius: 0 8rem 8rem 0;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:nth-child(2n) {
      &::before {
        left: auto;
        right: 0;
        border-radius: 8rem 0 0 8rem;
      }
      .item-content {
        flex-direction: row-reverse;
      }
    }

    &:nth-child(1) {
      .item-image figure {
        width: 29.45rem;
      }
    }

    &:nth-child(2) {
      .item-image figure {
        width: 27.2rem;
      }
    }

    &:nth-child(3) {
      .item-image figure {
        width: 25.1rem;
      }
    }

    &:nth-child(4) {
      .item-image figure {
        width: 27.9rem;
      }
    }

    .item-content {
      padding: 8rem 0 4.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;
      margin: -4.8rem 8rem 0;
    }

    .item-image {
      width: 32.9rem;
      height: 46.8rem;
      flex: 0 0 auto;
      position: relative;
      margin-top: -8rem;
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        background: #FBFADC;
        border: 1px solid #222;
        border-radius: 16.5rem;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .3s ease-in-out;
      }
      &::after {
        content: '';
        width: 3.9rem;
        height: 4.5rem;
        background: url('../img/icon_01.svg') no-repeat center / contain;
        position: absolute;
        top: 2.6rem;
        left: -1.1rem;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
      }
      figure {
        position: relative;
        margin: 0 auto;
      }
      .number {
        font-family: $cabin_condensed;
        font-size: 2rem;
        font-weight: 700;
        transform: rotate(38.07deg);
        position: absolute;
        top: 1.3rem;
        right: 3.8rem;
      }
      &.is-active {
        &::before {
          background: #F9D20E;
        }
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .item-text {
      width: 56rem;
    }

    .item-heading {
      display: flex;
      align-items: flex-end;
      gap: 2rem;
    }

    .item-info {
      font-size: 1.6rem;
      font-weight: 700;
    }

    .item-copy {
      width: 100%;
      height: 21.2rem;
      background: url('../img/interview/bg_text_01.png') no-repeat center / cover;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 7rem;
      margin-top: 2.4rem;
      font-size: 1.8rem;
      line-height: 2;
      font-weight: 700;
    }

    .item-btn {
      text-align: right;
      margin-top: 3.6rem;
    }
  }
}


.interview-gallery {
  padding: 14rem 0 16rem;

  &_content {
    padding: 0 4.7rem;
  }

  &_box {
    margin-top: 2.2rem;
    position: relative;
    padding: 9.4rem 7.4rem 5rem;
    background: url('../img/interview/bg_gallery.png') no-repeat center / cover;
  }

  &_slider {
    .splide__slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .splide__arrow {
      width: 6.3rem;
      height: 6.3rem;
      background: url('../img/icon_arrow_02.png') no-repeat center / contain;
      position: absolute;
      left: 0;
      right: auto;
      svg {
        display: none;
      }
    }

    .splide__arrow--prev {
      transform: scaleX(-1) translateY(-50%);
    }

    .splide__arrow--next {
      left: 13.9rem;
    }

    .splide__number {
      font-size: 1.6rem;
      font-weight: 700;
      letter-spacing: 0.05em;
      position: absolute;
      top: 2.8rem;
      left: 8.5rem;
    }

    .interview-gallery_main {
      border-radius: 1.6rem;
      overflow: hidden;
      border: 2px solid #1559A6;

      .splide__slide {
        height: 49.7rem;
      }
    }

    .interview-gallery_thumbnail {
      margin-top: 3rem;
      .splide__track {
        margin-left: auto;
        width: 66.3rem;
      }
      .splide__slide {
        height: 8.5rem;
        border-radius: .8rem;
        border: none !important;
        overflow: hidden;
        &::before {
          content: '';
          width: 100%;
          height: 100%;
          background: rgba($color: #000000, $alpha: .5);
          position: absolute;
          top: 0;
          left: 0;
          transition: all .3s ease-in-out;
        }
        &::after {
          content: '';
          width: 100%;
          height: 100%;
          border: 2px solid #1559A6;
          border-radius: .8rem;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: all .3s ease-in-out;
        }

        &.is-active {
          &::before {
            opacity: 0;
          }
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}

.interview-detail-page {
  .sec-recruit {
    margin-top: vw_pc(-160);
  }
}

.interview-detail_mainvisual {
  .l-inner {
    width: 98rem;
    padding: 13.1rem 0 0;
    height: 100%;
    &::before {
      content: '';
      width: 124.2rem;
      height: 34.15rem;
      background: url('../img/interview/bg_mainvisual_detail.png') no-repeat center / contain;
      position: absolute;
      bottom: -3.2rem;
      left: -15rem;
      z-index: 2;
    }
  }
  .number {
    font-size: 2rem;
    font-weight: 700;
  }

  .sub-mainvisual_ttl {
    margin: 0;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    .c-lead span {
      font-size: 4.2rem;
      width: 6.2rem;
      line-height: 6.8rem;
    }
    .info {
      font-size: 1.6rem;
      font-weight: 700;
    }
  }
  .copy {
    width: 56.1rem;
    height: 21.2rem;
    background: url('../img/interview/bg_text_01.png') no-repeat center / cover;
    display: flex;
    align-items: center;
    padding: 0 7rem;
    margin-top: 1.7rem;
    margin-left: -2.2rem;
    position: relative;
    z-index: 3;
  }
  .text {
    font-size: 1.8rem;
    line-height: 2;
    font-weight: 700;
  }
  .sub-mainvisual_image {
    width: 24.1rem;
    position: absolute;
    right: calc(50% - 42rem);
    left: auto;
    transform: unset;
    bottom: 0;
  }
}

.interview-detail {
  padding: 14.4rem 0 12rem;

  &_content {
    background: #FDE467;
    border-radius: 8rem;
    padding: 7rem 3rem 6rem;
  }

  .content-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.7rem;
    font-family: $noto_san;
    color: #321200;

    & + .content-text {
      margin-top: 3rem;
    }

    &_ttl {
      background: #fff;
      border-radius: 2.8rem 2.8rem 2.8rem 0;
      font-size: 2.4rem;
      line-height: 1.45833333;
      letter-spacing: 0.08em;
      font-weight: 500;
      display: flex;
      align-items: flex-start;
      gap: .8rem;
      padding: 2rem;
      span {
        width: 3.4rem;
        height: 3.4rem;
        background: #1559A6;
        border-radius: 50%;
        color: #fff;
        font-family: $cabin_condensed;
        font-size: 1.6rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &_copy {
      max-width: 60.4rem;
      background: #fff;
      border-radius: 2.8rem 2.8rem 0 2.8rem;
      padding: 2rem;
      font-size: 1.5rem;
      line-height: 2;
      margin-top: 3rem;
      letter-spacing: 0;
    }
  }

  .content-image {
    max-width: 91.8rem;
    margin: 6rem auto;
    border-radius: 1.6rem;
    overflow: hidden;
  }
}

.interview-list {
  background: url('../img/interview/bg_01.png') no-repeat center / cover;
  padding: 10rem 0 vw_pc(240);

  &_ttl {
    margin-left: 7rem;
  }

  &_slider {
    margin-top: 3rem;
  }

  .top-interview_slider {
    // position: relative;
    // top: auto;
    // left: auto;
    // width: 100%;
    padding-left: calc(50% - 51rem);
    .splide__track {
      overflow: unset;
    }
    .item {
      &.is-zoom {
        &:not(.is-first) {
          // margin-left: 6rem;
        }
        &.is-last {
          // margin-left: 12rem;
        }
      }
    }
    .splide__arrows {
      left: calc(50% + 10rem);
      bottom: 1rem;
    }
    .splide__number {
      bottom: 3rem;
      left: calc(50% + 19rem);
    }
  }


  // .top-interview_slider_prev,
  // .top-interview_slider_next {
  //   width: 6.4rem;
  //   height: 6.4rem;
  //   background: url('../img/icon_arrow_02.png') no-repeat center / contain;
  //   bottom: .7rem;
  //   top: auto;
  //   left: auto;
  //   right: calc(50% - 30rem);
  //   margin-top: 0;
  //   &::after {
  //     content: none;
  //   }
  // }
  // .top-interview_slider_prev {
  //   right: calc(50% - 16rem);
  //   transform: scale(-1);
  // }
}

