.recruit-wanted {
  padding: 9rem 0 0;
  @include mq(sp) {
    padding: vw(56) 0 0;

    .l-inner {
      padding: 0
    }
  }

  &_content {
    max-width: 98rem;
    width: 100%;
    margin: 0 auto;
    background: url('../img/recruit/bg_01.png') no-repeat center / cover;
    padding: 5.4rem 8rem 10rem;
    @include mq(sp) {
      max-width: 100%;
      background-image: url('../img/recruit/bg_01_sp.png');
      padding: vw(80) vw(24) vw(62);
    }
  }

  &_ttl {
    max-width: 64.5rem;
    margin: 0 auto 2.6rem;
    @include mq(sp) {
      max-width: vw(291);
      margin-bottom: vw(32);
    }
  }

  &_image {
    border: .2rem solid #222222;
    @include mq(sp) {
      height: vw(195);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &_copy {
    font-size: 1.8rem;
    line-height: 2;
    letter-spacing: 0.05em;
    font-weight: 700;
    margin-top: 5rem;
    padding: 0 0px 0 1.9rem;
    p + p {
      margin-top: 1rem;
    }
    @include mq(sp) {
      font-size: vw(14);
      margin-top: vw(16);
      padding: 0;
      p + p {
        margin-top: vw(14);
      }
    }
  }
}


.recruit-hero {
  padding: 13.6rem 0 0;
  @include mq(sp) {
    padding: vw(56) 0 0;
  }
  .l-inner {
    &::before {
      content: '';
      width: 61.4rem;
      height: 39.3rem;
      background: url('../img/recruit/bg_02.png') no-repeat center / contain;
      position: absolute;
      top: -31.2rem;
      left: -2.6rem;
    }
    @include mq(sp) {
      &::before {
        width: vw(261);
        height: vw(200);
        background-image: url('../img/recruit/bg_02_sp.png');
        top: vw(-118);
        left: 0;
      }
    }
  }

  &_content {
    padding: 0 8rem;
    position: relative;
    &::after {
      content: '';
      width: 61.4rem;
      height: 39.3rem;
      background: url('../img/recruit/bg_02.png') no-repeat center / contain;
      position: absolute;
      bottom: -25rem;
      right: -2.6rem;
    }
    @include mq(sp) {
      padding: 0;
      &::after {
        content: none;
      }
    }
  }

  &_box {
    position: relative;
    z-index: 1;
    @include mq(sp) {
    }

    &.box01 {
      margin-top: 8.9rem;
      .box-image {
        width: 38.65rem;
        bottom: -1.5rem;
        right: 11.7rem;
      }
      @include mq(sp) {
        margin-top: vw(194);
        .box-image {
          width: vw(161);
          bottom: 100%;
          right: 0;
        }
      }
    }

    &.box02 {
      margin-top: 11rem;
      margin-right: 9.3rem;
      .box-image {
        width: 36.2rem;
        bottom: -1.5rem;
        right: -21.2rem;
      }
      .box-text {
        margin-left: auto;
      }
      .box-ttl {
        left: 15rem;
      }
      @include mq(sp) {
        margin-top: vw(200);
        margin-right: 0;
        .box-image {
          width: vw(150);
        }
      }

    }

    &.box03 {
      margin-top: 8.7rem;
      margin-left: 11.8rem;
      .box-image {
        width: 64.05rem;
        bottom: -1.5rem;
        left: -36rem;
      }
      .box-text {
        background-image: url('../img/recruit/bg_box_02.png');
        width: 62.4rem;
        height: 24.25rem;
      }
      .box-copy {
        padding-left: 10rem;
      }
      .box-ttl {
        left: 18.2rem;
      }
      @include mq(sp) {
        margin-top: vw(205);
        margin-left: 0;
        .box-image {
          width: vw(256);
          left: auto;
          right: vw(30) !important;
        }
        .box-copy {
          padding-left: vw(30);
        }
      }
    }

    .box-image {
      position: absolute;
      z-index: 2;
      @include mq(sp) {
        bottom: calc(100% + #{vw(12)}) !important;
        right: vw(73) !important;
      }
    }

    .box-text {
      width: 64rem;
      height: 24.25rem;
      background: url('../img/recruit/bg_box_01.png') no-repeat center / cover;
      display: flex;
      flex-direction: column;
      position: relative;
      @include mq(sp) {
        width: vw(319) !important;
        height: vw(224) !important;
        background-image: url('../img/recruit/bg_box_03.png') !important;
        margin: 0 auto;
      }
    }

    .box-ttl {
      text-align: center;
      min-width: 28.2rem;
      line-height: 5.4rem;
      background: url('../img/recruit/bg_ttl_box_01.png') no-repeat center / cover;
      font-size: 2rem;
      padding-right: 1.6rem;
      position: absolute;
      top: -.9rem;
      left: 13rem;
      @include mq(sp) {
        min-width: vw(213);
        line-height: vw(54);
        font-size: vw(16);
        left: 50% !important;
        transform: translateX(-50%);
        top: vw(-24) !important;
      }
    }

    .box-copy {
      font-size: 1.8rem;
      line-height: 2;
      font-weight: 700;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 4rem 5rem 3rem 7.3rem;
      letter-spacing: 0.05em;
      @include mq(sp) {
        font-size: vw(14);
        text-align: center;
        justify-content: center;
        padding: vw(30);
      }
    }
  }
}


.recruit-process {
  padding: 13.3rem 0 0;
  @include mq(sp) {
    padding: vw(56) 0 0;
  }

  &_ttl {
    @include mq(pc) {
      margin-left: 8rem;
    }
  }

  &_list {
    display: flex;
    justify-content: space-between;
    padding: 0 1.2rem;
    margin-top: 10.7rem;
    @include mq(sp) {
      display: block;
      padding: 0;
      margin-top: vw(73);
    }
  }

  &_item {
    width: 34.4rem;
    height: 28.7rem;
    background: url('../img/recruit/bg_07.png') no-repeat center / cover;
    border-radius: 0 10rem 0 10rem;
    border: 1px solid #222;
    position: relative;
    padding: 2.7rem 2.5rem;
    @include mq(sp) {
      width: 100%;
      height: auto;
      min-height: vw(213);
      border-radius: 0 vw(100) 0 vw(100);
      padding: vw(39) vw(22) vw(50);
      & + .recruit-process_item {
        margin-top: vw(40);
      }

      &:nth-child(3) {
        text-align: center;
        padding-bottom: vw(133);
      }
    }

    .item-step {
      width: 10rem;
      height: 9.8rem;
      background: url('../img/recruit/bg_06.png') no-repeat center / contain;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $cabin_condensed;
      font-size: 2rem;
      font-weight: 700;
      color: #fff;
      position: absolute;
      top: -4.8rem;
      left: -4.2rem;
      @include mq(sp) {
        width: vw(63);
        height: vw(62);
        top: vw(-31);
        left: -1px;
        font-size: vw(14);
      }
    }

    .item-ttl {
      min-width: 15.3rem;
      width: max-content;
      line-height: 3.8rem;
      text-align: center;
      font-size: 1.8rem;
      margin: 0 auto 1.5rem;
      background: #FFFBD7;
      border: 1px solid #222;
      border-radius: 1.85rem;
      padding: 0 1.5rem;
      @include mq(sp) {
        min-width: vw(153);
        line-height: vw(33);
        font-size: vw(16);
        margin-bottom: vw(24);
      }
    }

    .item-copy {
      font-size: 1.6rem;
      line-height: 2;
      font-weight: 700;
      letter-spacing: 0.05em;
      @include mq(sp) {
        font-size: vw(14);
      }
    }

    .item-image {
      width: 24.9rem;
      position: absolute;
      bottom: 0;
      right: 2.6rem;
      @include mq(sp) {
        width: vw(187);
        right: vw(44);
      }
    }
  }
}

.recruit-app {
  padding: 14rem 0 0;
  @include mq(sp) {
    padding: vw(57) 0 0;
  }

  &_ttl {
    @include mq(pc) {
      margin-left: 8rem;
    }
  }

  &_list {
    max-width: 100rem;
    width: 100%;
    margin: 4.8rem auto 0;
    @include mq(sp) {
      max-width: 100%;
      margin-top: vw(40);
    }
  }

  &_item {
    & + .recruit-app_item {
      margin-top: 4rem;
      @include mq(sp) {
        margin-top: vw(40);
      }
    }
    dl {
      display: flex;
      font-size: 1.6rem;
      line-height: 1.3;
      padding: 3rem;
      background: #FFF1A9;
      &:nth-child(even) {
        background: #fff;
      }
      @include mq(sp) {
        display: block;
        font-size: vw(14);
        padding: vw(30) vw(24);
      }
    }
    dt {
      font-weight: 700;
      width: 21.4rem;
      flex: 0 0 auto;
      @include mq(sp) {
        width: 100%;
        margin-bottom: vw(20);
      }
    }
    dd {
      font-weight: 500;
      @include mq(sp) {
        font-size: vw(16);
        letter-spacing: 0.08em;
      }
    }
    .text01 {
      display: flex;
      align-items: center;
      gap: 1.9rem;
      margin-bottom: 1rem;

      span {
        &:first-child {
          font-family: $noto_san;
          min-width: 3.2rem;
          line-height: 3.8rem;
          border: 1px solid #222;
          flex: 0 0 auto;
          background: #fff;
          font-weight: 700;
          padding: 0 1.5rem;
        }
      }
      @include mq(sp) {
        &:last-of-type {
          align-items: flex-start;
        }
        span {
          &:first-child {
            padding: 0 vw(10);
            line-height: vw(36);
          }
        }
      }
    }
    .txt-note {
      text-indent: -1em;
      padding-left: 1em;
    }
  }
}


.recruit-contact {
  padding: 14rem 0;
  @include mq(sp) {
    padding: vw(56) 0 vw(80);
  }

  &_confirm {
    padding: 19.5rem 0 17rem;
    .recruit-app_ttl {
      margin-left: 4rem;
    }
    .recruit-contact_wrap {
      padding: 0 4rem;
    }
    @include mq(sp) {
      padding: vw(144) 0 vw(80);
      .recruit-app_ttl {
        margin-left: 0;
      }
      .recruit-contact_wrap {
        padding: 0;
      }
    }
  }

  &_thanks {
    padding: 19.5rem 0 16rem;
    .recruit-app_ttl {
      margin-left: 0;
    }
    .recruit-contact_wrap {
      padding: 0;
    }
    @include mq(sp) {
      padding: vw(144) 0 vw(80);
    }
  }

  &_ttl {
    @include mq(pc) {
      margin-left: 8rem;
    }
  }

  &_heading {
    margin: 6rem 0 0 39.6rem;
    font-size: 1.6rem;
    line-height: 2;
    .txt-required {
      margin-right: 1rem;
    }
    @include mq(sp) {
      margin: vw(40) 0;
      font-size: vw(14);
      letter-spacing: 0.02em;
    }
  }

  .txt-required {
    display: inline-block;
    font-size: 1.3rem;
    color: #fff;
    min-width: 4.7rem;
    line-height: 2.6rem;
    background: #1559A6;
    border-radius: .3rem;
    text-align: center;
    font-weight: 700;
  }

  &_wrap {
    margin-top: 6rem;
    display: flex;
    padding: 0 8rem;
    @include mq(sp) {
      display: block;
      margin-top: vw(40);
      padding: 0;
    }
  }

  &_nav {
    width: 31.5rem;
    flex: 0 0 auto;
    ul {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      li {
        font-size: 1.6rem;
        color: #A7A7A7;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 2rem;
        span {
          min-width: 7.3rem;
          line-height: 3rem;
          background: #fff;
          border-radius: 1.5rem;
          font-weight: 700;
          font-family: $cabin_condensed;
          text-align: center;
          font-size: 1.4rem;
          display: inline-block;
          letter-spacing: 0;
        }
        &.is-active {
          color: #1559A6;
          font-weight: 700;
          span {
            background: #1559A6;
            color: #fff;
          }
        }
      }
    }
    @include mq(sp) {
      width: 100%;
      ul {
        gap: vw(16);
      }
    }
  }

  &_content {
    width: 100%;
  }

  &_form {

  }
}

.c-form_input {
  font-size: 1.6rem;
  border-bottom: 1px dashed #BEBEBE;
  padding-bottom: 4rem;

  dl {
    & + dl {
      margin-top: 4rem;
    }
    dt {
      font-weight: 700;
      margin-bottom: 1.5rem;
      p {
        display: flex;
        align-items: center;
      }
      .txt-small {
        font-size: 1.3rem;
      }
    }
    dd {
      &.is-error {
        input, textarea, select {
          border-color: #D74848;
        }
      }
    }
    @include mq(sp) {

    }
  }
  .txt-required {
    margin-left: 1.4rem;
  }

  input, select, textarea {
    appearance: none;
    border: 1px solid #B5B5B5;
    border-radius: .5rem;
    background: #fff;
    box-shadow: none;
    &:focus {
      border: 1px solid #1559A6;
    }
  }

  input[type=text],
  input[type=email],
  input[type=date],
  textarea {
    width: 100%;
    line-height: 2;
    padding: 1.3rem 1.5rem;
    font-weight: 500;
  }

  textarea {
    height: 20rem;
    resize: none;
  }

  .input-checkbox {
    display: flex;
    align-items: center;
    gap: 4rem;
    input {
      display: none;
      &:checked ~ span {
        // &::before {
        //   background: #FF437F;
        //   border-color: #FF437F;
        // }
        &::after {
          transform: translateY(-50%) scale(1);
        }
      }
    }
    label {
      cursor: pointer;
      span {
        display: flex;
        align-items: center;
        position: relative;
        transition: all .3s ease-in-out;
        &::before {
          content: '';
          width: 2rem;
          height: 2rem;
          background: #fff;
          border: 1px solid #999999;
          border-radius: 50%;
          display: inline-block;
          margin-right: 1.6rem;
          transition: all .3s ease-in-out;
        }
        &::after {
          content: '';
          width: 1.4rem;
          height: 1.4rem;
          background: #1559A6;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: .3rem;
          transform: translateY(-50%) scale(0);
          transition: all .1s ease-in-out;
        }
      }
    }
  }

  .formErrorContent {
    color: #D74848;
    font-weight: 400;
    margin-top: 1rem;
    @include mq(sp) {
      margin-top: 1rem;
      margin-top: vw(14);
    }
  }

  .input-privacy {
    &_box {
      max-width: 50rem;
      max-height: 20rem;
      border: 1px solid #B5B5B5;
      background: #F9F9F9;
      border-radius: .5rem;
      overflow: auto;
      .box-inner {
        padding: 2.4rem;
        font-size: 1.4rem;
        line-height: 1.5;
        text-align: justify;
        p + p {
          margin-top: 2rem;
        }
      }
      @include mq(sp) {
        max-width: 100%;
        .box-inner {
          padding: vw(16);
        }
      }
    }
  }

  .input-agree {
    margin-top: 2.4rem;

    label {
      cursor: pointer;
      position: relative;
      display: flex;
      width: max-content;
      font-weight: 700;
      input {
        opacity: 0;
        width: 0;
        height: 0;
        &:checked {
          & + span {
            &::after {
              transform: scale(1) translateY(-50%);
            }
          }
        }
      }
      & > span {
        position: relative;
        display: inline-flex;
        align-items: center;
        &::before {
          content: '';
          width: 2.4rem;
          height: 2.4rem;
          border: 1px solid #B5B5B5;
          background: #fff;
          margin-right: 1rem;
          border-radius: 2px;
          @include mq(sp) {
            width: 2.4rem;
            height: 2.4rem;
            margin-right: .7rem;
          }
        }
        &::after {
          content: '';
          width: 1.2rem;
          height: 1.2rem;
          background: #1559A6;
          position: absolute;
          top: 50%;
          left: .6rem;
          border-radius: 1px;
          transform: scale(0) translateY(-50%);
          transform-origin: top;
          transition: all .1s ease-in-out;
          @include mq(sp) {
            // width: 1.2rem;
            // height: 1.2rem;
            // top: .7rem;
            // left: .7rem;
          }
        }
        a {
          color: #FF437F;
          &:hover {
            text-decoration: none;
          }
        }
        .txt-require {
          margin-left: 1.4rem;
        }
      }
    }
  }

  .input-text {
    font-size: 1.6rem;
    line-height: 2;
    margin-top: 1.1rem;
    letter-spacing: 0;
  }
}


.c-form_btn {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  button,
  input {

  }
  @include mq(sp) {
    margin-top: vw(40);
  }
}


.c-form_confirm {
  dl {
    display: flex;
    gap: 2rem;
    font-size: 1.8rem;
    line-height: 2;
    border-bottom: 1px solid #D0D0D0;
    padding: 3rem 0;
  }
  dt {
    font-weight: 700;
    width: 16.5rem;
    flex: 0 0 auto;
  }
  @include mq(sp) {
    margin-top: vw(40);
    dl {
      display: block;
      font-size: vw(16);
      letter-spacing: 0.02em;
      padding: vw(24) 0;
    }
    dt {
      margin-bottom: vw(10);
      width: 100%;
    }
  }
}


.c-form_thanks {
  line-height: 2;
  font-size: 1.6rem;
  letter-spacing: 0.02em;
  h3 {
    font-size: 2.6rem;
    color: #1559A6;
    & + p {
      margin-top: 2rem;
    }
  }
  p {
    & + h3 {
      margin-top: 6rem;
    }
    & + p {
      margin-top: 3rem;
    }
  }
  a {
    color: #1559A6;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  @include mq(sp) {
    margin-top: vw(56);
    font-size: vw(14);
    h3 {
      font-size: vw(18);
      & + p {
        margin-top: vw(16);
      }
    }
    p {
      & + h3 {
        margin-top: vw(40);
      }
      & + p {
        margin-top: vw(24);
      }
    }
  }
}
