.sub-page {

}

.sub-mainvisual {
  // max-height: 49.1rem;
  // background: url('../img/bg_mainvisual_01.png') no-repeat center bottom / cover;
  //
  position: relative;
  .l-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 15rem 0 0;
  }

  .c-hashtag {
    font-size: 5.6rem;
  }

  &_ttl {
    margin: 1rem 0 0 7.7rem;

    .c-ttl {
      font-size: 2.8rem;
    }
    .c-lead {
      span {
        font-size: 6rem;
        width: 9.3rem;
        line-height: 9.3rem;
      }
    }
  }

  &_image {
    width: 130.2rem;
    position: absolute;
    bottom: -2.9rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
