// -----------------------------------------------------------------
// MAIN VISUAL
// -----------------------------------------------------------------
.top-page {
  .c-lead {
    span {
      font-size: 4.4rem;
    }
  }
}

.top-mainvisual {
  position: relative;
  text-align: center;
  padding: vw_pc(115) 0 vw_pc(55);
  &.is-inview {
    .top-mainvisual_ttl {
      opacity: 1;
      transform: translateY(0);
    }
    .top-mainvisual_image .image {
      opacity: 1;
      visibility: visible;
      animation: scaleIn 1.2s 2.5s forwards;
    }
  }
  &::before {
    content: '';
    width: 100%;
    height: vw_pc(158);
    background: url('../img/top/bg_mainvisual_03.png') no-repeat center bottom / contain;
    position: absolute;
    top: calc(100% - #{vw_pc(134)});
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
  }
  &::after {
    content: '';
    width: 100%;
    height: calc(100% - #{vw_pc(110)});
    background: #F9D20E;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &_bg {
    max-width: vw_pc(1255);
    height: vw_pc(727);
    position: absolute;
    top: 0;
    right: 0;
  }

  &_icon {
    position: absolute;
    &.icon01 {
      width: vw_pc(57);
      top: vw_pc(129);
      left: vw_pc(70);
    }
    &.icon02 {
      width: vw_pc(62);
      top: vw_pc(222);
      left: vw_pc(184);
    }
    &.icon03 {
      width: vw_pc(93);
      top: vw_pc(155);
      left: vw_pc(261);
    }
    &.icon04 {
      width: vw_pc(60);
      top: vw_pc(70);
      left: vw_pc(385);
    }
    &.icon05 {
      width: vw_pc(67);
      top: vw_pc(140);
      left: vw_pc(520);
    }
    &.icon06 {
      width: vw_pc(10.3);
      top: vw_pc(50);
      left: vw_pc(620);
    }
    &.icon07 {
      width: vw_pc(67);
      top: vw_pc(60);
      right: vw_pc(290);
    }
    &.icon08 {
      width: vw_pc(55);
      top: vw_pc(95);
      right: vw_pc(205);
    }
    &.icon09 {
      width: vw_pc(123);
      top: vw_pc(190);
      right: vw_pc(110);
    }
    &.icon10 {
      width: vw_pc(86);
      top: vw_pc(180);
      right: vw_pc(20);
    }
    &.icon11 {
      width: vw_pc(76);
      top: vw_pc(300);
      right: vw_pc(200);
    }
    &.icon12 {
      width: vw_pc(45);
      bottom: vw_pc(170);
      left: vw_pc(644);
    }
  }

  &_ttl {
    max-width: vw_pc(798.5);
    display: inline-block;
    margin-left: vw_pc(40);
    opacity: 0;
    transform: translateY(30rem);
    transition: opacity 0.5s 1s, transform 0.5s 2s, top 0.5s 2s;
    position: relative;
    & > img {
      position: relative;
      z-index: 2;
    }
  }

  &_handle {
    width: vw_pc(106);
    height: vw_pc(106);
    background: url('../img/top/bg_handle.png') no-repeat center / cover;
    position: absolute;
    top: vw_pc(-23);
    right: vw_pc(44);
    display: flex;
    align-items: center;
    justify-content: center;
    .icon-handle {
      width: vw_pc(86);
      animation: rotate 20s linear infinite;
    }
  }

  &_image {
    max-width: vw_pc(1322);
    height: vw_pc(538);
    position: relative;
    margin: vw_pc(-126) auto 0;
    &::before {
      content: '';
      width: vw_pc(329);
      height: vw_pc(111);
      background: url('../img/top/icon_mainvisual_13.png') no-repeat center / contain;
      position: absolute;
      bottom: vw_pc(116);
      left: calc(50% - 7rem);
    }
    .image {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      transform: scale(0.7);
      transition: opacity 1.2s 3s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .image01 {
      width: vw_pc(320);
      top: vw_pc(-38);
      left: vw_pc(-27);
    }
    .image02 {
      width: vw_pc(349);
      top: vw_pc(102);
      left: vw_pc(143);
    }
    .image03 {
      width: vw_pc(297);
      top: vw_pc(96);
      left: vw_pc(425);
      z-index: 3;
    }
    .image04 {
      width: vw_pc(346.5);
      top: vw_pc(82);
      right: vw_pc(257);
      z-index: 2;
    }
    .image05 {
      width: vw_pc(210);
      top: vw_pc(15);
      right: vw_pc(131);
    }
    .image06 {
      width: vw_pc(189);
      top: vw_pc(-36);
      right: vw_pc(-15);
    }
  }

  &_illustration {
    width: vw_pc(1322);
    position: absolute;
    bottom: vw_pc(67);
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
  }

  &_scroll {
    position: relative;
    z-index: 5;
    color: #fff;
    font-size: 2rem;
    font-family: $cabin_condensed;
    font-weight: 700;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10.4rem;
    .arrow {
      position: absolute;
      bottom: -1.3rem;
      left: calc(50% - 1rem);
      width: 1.8rem;
      height: 1.7rem;
      opacity: 0;
      transform: scale3d(0.5, 0.5, 0.5);
      background: url('../img/icon_arrow_01.svg') no-repeat center / contain;
      animation: move 3s ease-out infinite;
    }
    .arrow01 {
      animation: move 3s ease-out 1s infinite;
    }

    .arrow02 {
      animation: move 3s ease-out 2s infinite;
    }
  }
}




@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes move {
  25% { opacity: 1; }
  33% { opacity: 1; transform: translateY(5px); }
  67% { opacity: 1; transform: translateY(15px); }
  100% { opacity: 0; transform: translateY(15px) scale3d(0.5, 0.5, 0.5); }
}



// -----------------------------------------------------------------
// COMPANY
// -----------------------------------------------------------------

.top-company {
  padding: 26.6rem 0 0;
  position: relative;
  &::after {
    // content: '';
    // width: calc(50% + 6rem);
    // height: 100%;
    // background: url('../img/top/bg_company_01.png') no-repeat center / cover;
    // position: absolute;
    // top: 0;
    // left: 0;
  }

  &_image {
    max-width: 62.9rem;
    position: relative;
    margin-top: 2rem;
    &::before {
      content: '';
      width: 67.5rem;
      height: 34.5rem;
      background: url('../img/top/bg_img_company_01.png') no-repeat center / contain;
      position: absolute;
      top: .6rem;
      left: .6rem;
    }
  }

  &_copy {
    margin-top: 3.2rem;
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 0.05em;
    font-weight: 700;
    position: relative;
  }

  &_btn {
    margin-top: 3.2rem;
  }

  &_pickup {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 50.4rem;
    width: 100%;
    border: 1px solid #222;
    background: url('../img/top/bg_pickup_01.png') no-repeat center / cover;
    border-radius: 0 0 0 10rem;
    display: flex;
    align-items: center;
    .pickup-image {
      padding-bottom: 3.2rem;
      position: relative;
      &::before {
        content: '';
        width: 18rem;
        height: 18.6rem;
        background: url('../img/top/bg_img_company_02.png') no-repeat center / contain;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      img {
        width: 10.4rem;
        position: relative;
      }
    }
  }
}
