// -----------------------------------------------------------------
// MAIN VISUAL
// -----------------------------------------------------------------
.top-page {
  .c-lead {
    span {
      font-size: 4.4rem;
    }
  }
}

.top-mainvisual {
  position: relative;
  text-align: center;
  padding: vw_pc(115) 0 vw_pc(55);
  &.is-inview {
    .top-mainvisual_ttl {
      opacity: 1;
      transform: translateY(0);
    }
    .top-mainvisual_image .image {
      opacity: 1;
      visibility: visible;
      animation: scaleIn 1.2s 2.5s forwards;
    }
  }
  &::before {
    content: '';
    width: 100%;
    height: vw_pc(158);
    background: url('../img/top/bg_mainvisual_03.png') no-repeat center bottom / contain;
    position: absolute;
    top: calc(100% - #{vw_pc(134)});
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
  }
  &::after {
    content: '';
    width: 100%;
    height: calc(100% - #{vw_pc(110)});
    background: #F9D20E;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &_bg {
    max-width: vw_pc(1255);
    height: vw_pc(727);
    position: absolute;
    top: 0;
    right: 0;
  }

  &_icon {
    position: absolute;
    &.icon01 {
      width: vw_pc(57);
      top: vw_pc(129);
      left: vw_pc(70);
    }
    &.icon02 {
      width: vw_pc(62);
      top: vw_pc(222);
      left: vw_pc(184);
    }
    &.icon03 {
      width: vw_pc(93);
      top: vw_pc(155);
      left: vw_pc(261);
    }
    &.icon04 {
      width: vw_pc(60);
      top: vw_pc(70);
      left: vw_pc(385);
    }
    &.icon05 {
      width: vw_pc(67);
      top: vw_pc(140);
      left: vw_pc(520);
    }
    &.icon06 {
      width: vw_pc(10.3);
      top: vw_pc(50);
      left: vw_pc(620);
    }
    &.icon07 {
      width: vw_pc(67);
      top: vw_pc(60);
      right: vw_pc(290);
    }
    &.icon08 {
      width: vw_pc(55);
      top: vw_pc(95);
      right: vw_pc(205);
    }
    &.icon09 {
      width: vw_pc(123);
      top: vw_pc(190);
      right: vw_pc(110);
    }
    &.icon10 {
      width: vw_pc(86);
      top: vw_pc(180);
      right: vw_pc(20);
    }
    &.icon11 {
      width: vw_pc(76);
      top: vw_pc(300);
      right: vw_pc(200);
    }
    &.icon12 {
      width: vw_pc(45);
      bottom: vw_pc(170);
      left: vw_pc(644);
    }
  }

  &_ttl {
    max-width: vw_pc(798.5);
    display: inline-block;
    margin-left: vw_pc(40);
    opacity: 0;
    transform: translateY(30rem);
    transition: opacity 0.5s 1s, transform 0.5s 2s, top 0.5s 2s;
    position: relative;
    & > img {
      position: relative;
      z-index: 2;
    }
  }

  &_handle {
    width: vw_pc(106);
    height: vw_pc(106);
    background: url('../img/top/bg_handle.png') no-repeat center / cover;
    position: absolute;
    top: vw_pc(-23);
    right: vw_pc(44);
    display: flex;
    align-items: center;
    justify-content: center;
    .icon-handle {
      width: vw_pc(86);
      animation: rotate 20s linear infinite;
    }
  }

  &_image {
    max-width: vw_pc(1322);
    height: vw_pc(538);
    position: relative;
    margin: vw_pc(-126) auto 0;
    &::before {
      content: '';
      width: vw_pc(329);
      height: vw_pc(111);
      background: url('../img/top/icon_mainvisual_13.png') no-repeat center / contain;
      position: absolute;
      bottom: vw_pc(116);
      left: calc(50% - 7rem);
    }
    .image {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      transform: scale(0.7);
      transition: opacity 1.2s 3s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .image01 {
      width: vw_pc(320);
      top: vw_pc(-38);
      left: vw_pc(-27);
    }
    .image02 {
      width: vw_pc(349);
      top: vw_pc(102);
      left: vw_pc(143);
    }
    .image03 {
      width: vw_pc(297);
      top: vw_pc(96);
      left: vw_pc(425);
      z-index: 3;
    }
    .image04 {
      width: vw_pc(346.5);
      top: vw_pc(82);
      right: vw_pc(257);
      z-index: 2;
    }
    .image05 {
      width: vw_pc(210);
      top: vw_pc(15);
      right: vw_pc(131);
    }
    .image06 {
      width: vw_pc(189);
      top: vw_pc(-36);
      right: vw_pc(-15);
    }
  }

  &_illustration {
    width: vw_pc(1322);
    position: absolute;
    bottom: vw_pc(67);
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
  }

  &_scroll {
    position: relative;
    z-index: 5;
    color: #fff;
    font-size: 2rem;
    font-family: $cabin_condensed;
    font-weight: 700;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10.4rem;
    .arrow {
      position: absolute;
      bottom: -1.3rem;
      left: calc(50% - 1rem);
      width: 1.8rem;
      height: 1.7rem;
      opacity: 0;
      transform: scale3d(0.5, 0.5, 0.5);
      background: url('../img/icon_arrow_01.svg') no-repeat center / contain;
      animation: move 3s ease-out infinite;
    }
    .arrow01 {
      animation: move 3s ease-out 1s infinite;
    }

    .arrow02 {
      animation: move 3s ease-out 2s infinite;
    }
  }
}




@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes move {
  25% { opacity: 1; }
  33% { opacity: 1; transform: translateY(5px); }
  67% { opacity: 1; transform: translateY(15px); }
  100% { opacity: 0; transform: translateY(15px) scale3d(0.5, 0.5, 0.5); }
}



// -----------------------------------------------------------------
// COMPANY
// -----------------------------------------------------------------

.top-company {
  padding: 18.6rem 0 0;
  position: relative;
  &::before {
    content: '';
    width: 124.3rem;
    height: 77.2rem;
    background: url('../img/top/bg_company_02.png') no-repeat center / contain;
    position: absolute;
    top: -17.8rem;
    right: 0;
  }

  &_content {
    position: relative;
    padding: 7.2rem 0;
    &::after {
      content: '';
      width: calc(50% + 58rem);
      height: 100%;
      background: url('../img/top/bg_company_01.png') no-repeat center / cover;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 0 10rem 10rem 0;
    }

    .l-inner {
      position: relative;
      z-index: 2;
    }

    .c-hashtag {
      position: absolute;
      top: -13.5rem;
      left: 0;
    }
  }

  &_image {
    max-width: 62.9rem;
    position: relative;
    margin-top: 2rem;
    &::before {
      content: '';
      width: 67.5rem;
      height: 34.5rem;
      background: url('../img/top/bg_img_company_01.png') no-repeat center / contain;
      position: absolute;
      top: .6rem;
      left: .6rem;
    }
  }

  &_copy {
    margin-top: 3.2rem;
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 0.05em;
    font-weight: 700;
    position: relative;
  }

  &_btn {
    margin-top: 3.2rem;
  }

  &_pickup {
    position: absolute;
    bottom: 0;
    right: -6rem;
    max-width: 50.4rem;
    width: 100%;
    border: 1px solid #222;
    background: url('../img/top/bg_pickup_01.png') no-repeat center / cover;
    border-radius: 0 0 0 10rem;
    display: flex;
    align-items: center;
    padding: 1.1rem 6rem 4.7rem 3.2rem;
    &::after {
      content: '';
      width: 38.8rem;
      height: 7.6rem;
      background: url('../img/top/icon_company_03.png') no-repeat center / contain;
      position: absolute;
      top: -67px;
      left: 71px;
      z-index: -1;
    }
    &::before {
      content: '';
      width: 10.3rem;
      height: 10.2rem;
      background: url('../img/top/icon_pickup.png') no-repeat center / contain;
      position: absolute;
      top: -4.9rem;
      left: -4.5rem;
    }
    .pickup-image {
      padding-bottom: 3.2rem;
      position: relative;
      width: 18rem;
      flex: 0 0 auto;
      margin-right: 2.4rem;
      text-align: center;
      &::before {
        content: '';
        width: 18rem;
        height: 18.6rem;
        background: url('../img/top/bg_img_company_02.png') no-repeat center / contain;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      img {
        width: 10.4rem;
        display: inline-block;
        position: relative;
      }
      p {
        position: absolute;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 0.05em;
        width: 15.3rem;
        left: 2.1rem;
        bottom: .5rem;
      }
    }

    .pickup-ttl {
      font-size: 2rem;
      text-align: center;
    }

    .pickup-copy {
      font-size: 1.6rem;
      line-height: 1.4;
      text-align: center;
      margin: 2rem 0 4rem;
    }
  }
}

// -----------------------------------------------------------------
// BUSINESS
// -----------------------------------------------------------------
.top-business {
  position: relative;
  padding: 18.4rem 0 0;
  &::before {
    content: '';
    width: 124.9rem;
    height: 103.3rem;
    background: url('../img/top/bg_business_01.png') no-repeat center / contain;
    position: absolute;
    top: -5.5rem;
    left: 0;
  }

  &_content {
    position: relative;
    padding: 13.2rem 0 12.4rem;
    &::before {
      content: '';
      width: 42.9rem;
      height: 19.8rem;
      background: url('../img/top/bg_business_03.png') no-repeat center / contain;
      position: absolute;
      top: -13.6rem;
      left: 37.7rem;
      z-index: 1;
    }
    &::after {
      content: '';
      width: calc(50% + 58rem);
      height: 100%;
      background: url('../img/top/bg_business_02.png') no-repeat center / cover;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 10rem 0 0 10rem;
    }

    .l-inner {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: flex-end;
    }

    .c-hashtag {
      position: absolute;
      top: -19.5rem;
      right: 0;
    }
  }

  &_image {
    width: 64.2rem;
    position: absolute;
    bottom: -14.6rem;
    left: -6rem;
  }

  &_box {
    display: flex;
    align-items: center;
    gap: 1.7rem;
    margin-top: 3.2rem;
  }

  &_copy {
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 0.05em;
    font-weight: 700;
  }

  &_btn {

  }

  &_list {
    display: flex;
    gap: 2.4rem;
    margin-top: 6rem;
    li {
      width: 28.2rem;
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 3.7rem;
        width: 100%;
        height: 12.6rem;
        background: url('../img/top/bg_btn_business_01.png') no-repeat center / cover;
        &:hover {
          background-image: url('../img/top/bg_btn_business_01_over.png');
          color: #fff;
          .c-btn {
            color: #fff !important;
            border-color: #fff !important;
            &::after {
              width: 1.6rem;
              height: 1.6rem;
              background: #fff;
            }
          }
        }
      }
      .item-ttl {
        font-size: 2rem;
        line-height: 1;
        margin-bottom: 2rem;
      }
      .c-btn {
        pointer-events: none;
      }
    }
  }
}


// -----------------------------------------------------------------
// INTERVIEW
// -----------------------------------------------------------------
.top-interview {
  position: relative;
  padding: 18.4rem 0 0;
  &::after {
    content: '';
    width: 45.2rem;
    height: 28.1rem;
    background: url('../img/top/bg_interview_02.png') no-repeat center / contain;
    position: absolute;
    top: -2.6rem;
    right: 0;
    z-index: -1;
  }

  &_content {
    position: relative;
    background: url('../img/top/bg_interview_01.png') no-repeat center / cover;
  }

  .l-inner {
    padding: 10.4rem 0 22.7rem;
    &::after {
      content: '';
      width: 34.7rem;
      height: 16.85rem;
      background: url('../img/top/icon_interview_01.png') no-repeat center / contain;
      position: absolute;
      bottom: -1.7rem;
      left: -3.2rem;
    }
  }

  .c-hashtag {
    position: absolute;
    top: -6.5rem;
  }

  &_copy {
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 0.05em;
    font-weight: 700;
    margin: 4rem 0 3.2rem;
  }

  &_slider {
    position: absolute;
    top: 3rem;
    left: 34.9rem;
    width: 101rem;
    overflow: hidden;
    height: 52.2rem;
    padding-left: 2rem;
    .item {
      width: 25.8rem;
      margin-left: 5.7rem;
      padding-left: 4.7rem;
      opacity: .6;
      &:first-child {
        margin-left: 0;
      }
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        text-align: center;
        position: relative;
        padding-bottom: 6rem;

        &::after {
          content: '';
          width: 25.7rem;
          height: 35.1rem;
          background: #FBFADC;
          border: 1px solid #222;
          border-radius: 16.5rem;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          z-index: -1;
          transition: all .3s ease-in-out;
        }
      }
      .item-image {
        img {
          max-height: 28rem;
          transition: all .3s ease-in-out;
        }
      }
      .item-text {
        background: url('../img/top/bg_item_text_interview_01.png') no-repeat center / cover;
        width: 25rem;
        height: 10.1rem;
        font-weight: 700;
        padding: 3.8rem 2.8rem 0;
        text-align: left;
        margin-top: -8rem;
        margin-left: -6.7rem;
        transition: all .3s ease-in-out;
      }
      .item-position {
        font-size: 1.2rem;
      }
      .item-name {
        font-size: 1.6rem;
      }
      .c-btn_border {
        min-width: 16.3rem;
        padding-bottom: .9rem;
        margin-top: 2rem;
      }
      .item-num {
        font-family: $cabin_condensed;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        position: absolute;
        top: 7rem;
        right: -.2rem;
        transform: rotate(38.07deg);
      }
    }
    .swiper-slide-active {
      width: 32.9rem;
      padding-left: 7rem;
      opacity: 1;
      a {
        padding-bottom: 8rem;
        &::after {
          width: 32.9rem;
          height: 46.8rem;
        }
      }
      .item-image {
        img {
          max-height: 33.8rem;
        }
      }
      .item-text {
        width: 30.7rem;
        height: 13rem;
        padding: 5rem 4rem 0;
        margin-left: -10rem;
      }
      .item-position {
        font-size: 1.4rem;
      }
      .item-name {
        font-size: 2rem;
      }
    }
  }
  .top-interview_slider_prev,
  .top-interview_slider_next {
    width: 6.4rem;
    height: 6.4rem;
    background: url('../img/icon_arrow_02.png') no-repeat center / contain;
    bottom: 6.4rem;
    top: auto;
    left: auto;
    right: 0;
    margin-top: 0;
    &::after {
      content: none;
    }
  }
  .top-interview_slider_prev {
    right: 14rem;
    transform: scale(-1);
  }
}


// -----------------------------------------------------------------
// CULTURE
// -----------------------------------------------------------------
.top-culture {
  padding: 10.4rem 0 22.2rem;
  position: relative;
  background: #FEF87C;
  &::before {
    content: '';
    width: 52.7rem;
    height: 39.3rem;
    background: url('../img/top/bg_culture_02.png') no-repeat center / contain;
    position: absolute;
    top: -5rem;
    left: 0;
  }

  &_inner {
    position: relative;
    max-width: 117.8rem;
    width: 100%;
    margin: 0 auto;
    padding: 16.2rem 0 0;
    &::before {
      content: '';
      width: 125.4rem;
      height: 142.1rem;
      background: url('../img/top/bg_culture_01.png') no-repeat center / contain;
      position: absolute;
      mix-blend-mode: multiply;
      z-index: 2;
      top: -9rem;
      left: -3.8rem;
      opacity: .9;
    }
  }

  &_content {
    position: relative;
    z-index: 2;
    padding: 0 10.9rem;
  }

  .c-hashtag {
    text-align: center;
    margin-bottom: 5rem;
  }

  &_lead {
    display: flex;
    align-items: flex-end;
  }

  &_copy {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0.05em;
    margin-left: 1.6rem;
  }

  &_link {
    margin: 4rem 0;
    .item {
      & + .item {
        margin-top: 2.4rem;
      }
      a {
        display: flex;
        align-items: flex-end;
        padding-left: 1.9rem;
        position: relative;
        &::before {
          content: '';
          width: .7rem;
          height: .7rem;
          background: #1559A6;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%) scale(0);
          transition: all .3s ease-in-out;
        }
        &:hover {
          &::before {
            transform: translateY(-50%) scale(01);
          }
          .item-ttl {
            color: #1559A6;
          }
          .c-btn {
            pointer-events: none;
            color: #1559A6 !important;
            border-color: #1559A6 !important;
            &::after {
              background: #1559A6;
              width: 1.6rem;
              height: 1.6rem;
            }
          }
        }
      }
      .item-ttl {
        font-size: 2rem;
        line-height: 1;
        font-weight: 700;
        width: 13.8rem;
        flex: 0 0 auto;
        span {
          display: block;
          font-family: $cabin_condensed;
          font-size: 1.4rem;
          margin-bottom: .3rem;
        }
      }
    }
  }

  &_image {
    width: 44.3rem;
    position: absolute;
    right: 5.4rem;
    top: 16.3rem;
    .image {
      position: absolute;
    }
    .image01 {
      width: 31.3rem;
      top: 0;
      left: 0;
    }
    .image02 {
      width: 36.15rem;
      top: -2.3rem;
      right: 0;
    }
  }
}
