// -----------------------------------------------------------------
// MAIN VISUAL
// -----------------------------------------------------------------
.top-page {
  .c-lead {
    span {
      font-size: 4.4rem;
    }
  }
  .sec-recruit {
    margin-top: vw_pc(-160);
  }
}

.top-mainvisual {
  position: relative;
  z-index: 5;
  margin-bottom: vw_pc(104);
  &::before {
    content: '';
    width: 100%;
    height: vw_pc(158);
    background: url('../img/top/bg_mainvisual_03.png') no-repeat center bottom / contain;
    position: absolute;
    bottom: vw_pc(-104);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  &::after {
    content: '';
    width: 132.2rem;
    height: 17.1rem;
    background: url('../img/top/bg_mainvisual_02.png') no-repeat center bottom / contain;
    position: absolute;
    bottom: -1.3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  &.is-inview {
    .top-mainvisual_ttl {
      opacity: 1;
      // transform: translateY(0);
      bottom: 32rem;
    }
    .top-mainvisual_image img {
      opacity: 1;
      visibility: visible;
      animation: scaleIn 1.2s 2.5s forwards;
    }
    .bg-icon {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &_bg {
    position: relative;
    .bg-image {
      width: 100%;
      height: 76rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
    .bg-icon {
      position: absolute;
      transform: translateY(20px);
      opacity: 0;
      transition-duration: 0.5s, 1s;
      transition-property: opacity, transform;
      transition-delay: 0s;
      transition-timing-function: ease, cubic-bezier(0.215, 0.61, 0.355, 1);
      &.icon01 {
        // width: vw_pc(57);
        width: 5.7rem;
        top: vw_pc(129);
        left: vw_pc(97);
      }
      &.icon02 {
        // width: vw_pc(62);
        width: 6.2rem;
        top: vw_pc(223);
        left: vw_pc(209);
      }
      &.icon03 {
        // width: vw_pc(93);
        width: 9.3rem;
        top: vw_pc(156);
        left: vw_pc(287);
      }
      &.icon04 {
        // width: vw_pc(60);
        width: 6rem;
        top: vw_pc(69);
        left: vw_pc(411);
      }
      &.icon05 {
        // width: vw_pc(103);
        width: 10.3rem;
        top: vw_pc(52);
        left: vw_pc(644);
      }
      &.icon06 {
        // width: vw_pc(55);
        width: 5.5rem;
        top: vw_pc(97);
        right: vw_pc(205);
      }
      &.icon07 {
        // width: vw_pc(86);
        width: 8.6rem;
        top: vw_pc(181);
        right: vw_pc(20);
      }
      &.icon08 {
        // width: vw_pc(45);
        width: 4.5rem;
        bottom: vw_pc(203);
        left: vw_pc(670);
      }
      &.icon09 {
        // width: vw_pc(329);
        // left: vw_pc(570);
        // bottom: 1.8rem;
        width: 32.9rem;
        bottom: vw_pc(18);
        left: calc(50% - 7rem);
      }
    }
  }

  &_ttl {
    // max-width: vw_pc(798.5);
    width: 79.85rem;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 4rem;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    // transform: translateY(100%);
    transition: opacity 0.5s 1s, bottom 0.5s 2s, top 0.5s 2s;
    z-index: 3;
    & > img {
      position: relative;
      z-index: 4;
    }
  }

  &_handle {
    // width: vw_pc(106);
    // height: vw_pc(106);
    width: 10.6rem;
    height: 10.6rem;
    background: url('../img/top/bg_handle.png') no-repeat center / cover;
    position: absolute;
    // top: vw_pc(-23);
    // right: vw_pc(44);
    top: -2.3rem;
    right: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon-handle {
      // width: vw_pc(86);
      width: 8.6rem;
      animation: rotate 20s linear infinite;
    }
  }

  &_image {
    // width: vw_pc(1322);
    // height: vw_pc(538);
    width: 132.2rem;
    // height: 53.8rem;
    position: absolute;
    bottom: -6rem;
    left: 50%;
    transform: translateX(-50%);
    img {
      // position: absolute;
      opacity: 0;
      visibility: hidden;
      transform: scale(0.7);
      transition: opacity 1.2s 3s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  &_scroll {
    position: absolute;
    bottom: -2.3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    color: #fff;
    font-size: 2rem;
    font-family: $cabin_condensed;
    font-weight: 700;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .arrow {
      position: absolute;
      bottom: -1.3rem;
      left: calc(50% - 1rem);
      width: 1.8rem;
      height: 1.7rem;
      opacity: 0;
      transform: scale3d(0.5, 0.5, 0.5);
      background: url('../img/icon_arrow_01.svg') no-repeat center / contain;
      animation: move 3s ease-out infinite;
    }
    .arrow01 {
      animation: move 3s ease-out 1s infinite;
    }

    .arrow02 {
      animation: move 3s ease-out 2s infinite;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes move {
  25% { opacity: 1; }
  33% { opacity: 1; transform: translateY(5px); }
  67% { opacity: 1; transform: translateY(15px); }
  100% { opacity: 0; transform: translateY(15px) scale3d(0.5, 0.5, 0.5); }
}



// -----------------------------------------------------------------
// COMPANY
// -----------------------------------------------------------------

.top-company {
  // padding: 26.6rem 0 0;
  // padding: vw_pc(266) 0 0;
  padding: 16.2rem 0 0;
  position: relative;
  &::before {
    content: '';
    width: 127.9rem;
    height: 77.2rem;
    background: url('../img/top/bg_company_02.png') no-repeat center / contain;
    position: absolute;
    top: -20.2rem;
    right: -3.7rem;
    @media only screen and (min-width: 1280px) {
    }
  }

  &_content {
    position: relative;
    padding: 7.2rem 0;
    &::after {
      content: '';
      width: calc(50% + 58rem);
      height: 100%;
      background: url('../img/top/bg_company_01.png') no-repeat center / cover;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 0 10rem 10rem 0;
    }

    .l-inner {
      position: relative;
      z-index: 2;
      &::after {
        content: '';
        width: 36.9rem;
        height: 19.4rem;
        background: url('../img/top/bg_company_03.png') no-repeat center / contain;
        position: absolute;
        top: -10.4rem;
        right: 8.4rem;
      }
    }

    .c-hashtag {
      position: absolute;
      top: -13.5rem;
      left: 0;
    }
  }

  &_image {
    max-width: 62.9rem;
    position: relative;
    margin-top: 2rem;
    &::before {
      content: '';
      width: 67.5rem;
      height: 34.5rem;
      background: url('../img/top/bg_img_company_01.png') no-repeat center / contain;
      position: absolute;
      top: .6rem;
      left: .6rem;
      z-index: 1;
    }
    figure {
      overflow: hidden;
      border: 1px solid #222;
      img {
        transition: transform .3s ease-in-out;
      }
    }
    &.is-zoom {
      figure {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  &_copy {
    margin-top: 3.2rem;
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 0.05em;
    font-weight: 700;
    position: relative;
  }

  &_btn {
    margin-top: 2.9rem;
  }

  &_pickup {
    position: absolute;
    bottom: .2rem;
    right: -6rem;
    max-width: 50.4rem;
    width: 100%;
    border: 1px solid #222;
    background: url('../img/top/bg_pickup_01.png') no-repeat center / cover;
    border-radius: 0 0 0 10rem;
    display: flex;
    align-items: flex-end;
    padding: 1rem 6rem 4.7rem 3.2rem;
    &::after {
      content: '';
      width: 38.8rem;
      height: 7.6rem;
      background: url('../img/top/icon_company_03.png') no-repeat center / contain;
      position: absolute;
      top: -67px;
      left: 71px;
      z-index: -1;
    }
    &::before {
      content: '';
      width: 10.3rem;
      height: 10.2rem;
      background: url('../img/top/icon_pickup.png') no-repeat center / contain;
      position: absolute;
      top: -4.9rem;
      left: -4.5rem;
      transform-origin: bottom;
      animation: boyon_ug4m426 3s linear infinite;
    }
    .pickup-image {
      padding-bottom: 3.2rem;
      position: relative;
      width: 18rem;
      flex: 0 0 auto;
      margin-right: 2.4rem;
      text-align: center;
      &::before {
        content: '';
        width: 18rem;
        height: 18.6rem;
        background: url('../img/top/bg_img_company_02.png') no-repeat center / contain;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      img {
        width: 10.4rem;
        display: inline-block;
        position: relative;
        transform-origin: bottom;
        transition: all .3s ease-in-out;
      }
      p {
        position: absolute;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 0.05em;
        width: 15.3rem;
        left: 2.1rem;
        bottom: .5rem;
      }
      &.is-zoom {
        img {
          transform: scale(1.05);
        }
      }
    }

    .pickup-ttl {
      font-size: 2rem;
      text-align: center;
    }

    .pickup-copy {
      font-size: 1.6rem;
      line-height: 1.4;
      text-align: center;
      margin: 1.9rem 0 3.7rem;
    }

    .pickup-btn {
      margin-bottom: 2.6rem;
    }
  }
}

// -----------------------------------------------------------------
// BUSINESS
// -----------------------------------------------------------------
.top-business {
  position: relative;
  padding: 18.4rem 0 0;
  &::before {
    content: '';
    width: 124.9rem;
    height: 103.3rem;
    background: url('../img/top/bg_business_01.png') no-repeat center / contain;
    position: absolute;
    top: -5.5rem;
    left: 0;
  }

  &_content {
    position: relative;
    padding: 13.2rem 0 12.4rem;
    &::before {
      content: '';
      width: 42.9rem;
      height: 19.8rem;
      background: url('../img/top/bg_business_03.png') no-repeat center / contain;
      position: absolute;
      top: -13.6rem;
      left: 37.7rem;
      z-index: 1;
    }
    &::after {
      content: '';
      width: calc(50% + 58rem);
      height: 100%;
      background: url('../img/top/bg_business_02.png') no-repeat center / cover;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 10rem 0 0 10rem;
    }

    .l-inner {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: flex-end;
    }

    .c-hashtag {
      position: absolute;
      top: -19.5rem;
      right: 0;
    }
  }

  &_image {
    width: 64.2rem;
    position: absolute;
    bottom: -14.6rem;
    left: -6rem;
  }

  &_box {
    display: flex;
    align-items: center;
    gap: 1.7rem;
    margin-top: 3.2rem;
  }

  &_copy {
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 0.05em;
    font-weight: 700;
  }

  &_btn {

  }

  &_list {
    display: flex;
    gap: 2.4rem;
    margin-top: 6rem;
    li {
      width: 28.2rem;
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 3.7rem;
        width: 100%;
        height: 12.6rem;
        background: url('../img/top/bg_btn_business_01.png') no-repeat center / cover;
        &:hover {
          background-image: url('../img/top/bg_btn_business_01_over.png');
          color: #fff;
          .c-btn {
            color: #fff !important;
            border-color: #fff !important;
            &::after {
              transform: scale(2.25);
              background: #fff;
            }
          }
        }
      }
      .item-ttl {
        font-size: 2rem;
        line-height: 1;
        margin-bottom: 2rem;
      }
      .c-btn {
        pointer-events: none;
      }
    }
  }
}


// -----------------------------------------------------------------
// INTERVIEW
// -----------------------------------------------------------------
.top-interview {
  position: relative;
  padding: 18.4rem 0 0;
  &::after {
    content: '';
    width: 45.2rem;
    height: 28.1rem;
    background: url('../img/top/bg_interview_02.png') no-repeat center / contain;
    position: absolute;
    top: -2.6rem;
    right: 0;
    z-index: -1;
  }

  &_content {
    position: relative;
    background: url('../img/top/bg_interview_01.png') no-repeat center / cover;
  }

  .l-inner {
    padding: 3.2rem 0 0;
    min-height: 62.4rem;
    display: flex;
    gap: 8rem;
    &::after {
      content: '';
      width: 34.7rem;
      height: 16.85rem;
      background: url('../img/top/icon_interview_01.png') no-repeat center / contain;
      position: absolute;
      bottom: -1.7rem;
      left: -3.2rem;
    }
  }

  &_text {
    width: 27rem;
    flex: 0 0 auto;
    padding: 7rem 0 0;
  }

  .c-hashtag {
    position: absolute;
    top: -6.5rem;
  }

  &_copy {
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 0.05em;
    font-weight: 700;
    margin: 4rem 0 3.2rem;
  }

  &_slider {
    .splide__list {
      overflow: unset;
      height: 53rem;
      gap: 4.7rem;
    }
    .item {
      width: 26rem;
      // height: 35.1rem;
      opacity: .6;
      position: relative;
      transition: all .3s ease-in-out;
      transform-origin: top;
      &.is-zoom {
        width: 33.3rem;
        opacity: 1;
        a {
          padding-bottom: 8rem;
          &::after {
            height: 46.8rem;
            // bottom: -11.7rem;
          }
        }
        .item-image {
          img {
            max-height: 33.8rem;
            object-fit: cover;
          }
        }
        .item-text {
          width: 30.7rem;
          height: 13rem;
          padding: 5rem 4rem 0;
          margin-left: -10rem;
        }
        .item-position {
          font-size: 1.4rem;
        }
        .item-name {
          font-size: 2rem;
        }
        &:not(.is-first) {
          margin-left: 6rem;
        }
        &.is-last {
          margin-left: 12rem;
        }
      }
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        text-align: center;
        position: relative;
        padding-bottom: 6rem;
        &::after {
          content: '';
          width: 100%;
          height: 35.1rem;
          background: #FBFADC;
          border: 1px solid #222;
          border-radius: 16.5rem;
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: -1;
          transition: all .3s ease-in-out;
          transform-origin: top;
        }
        &:hover {
          &::after {
            background-color: #FFEA28;
          }
          .c-btn {
            pointer-events: none;
            color: #1559A6 !important;
            border-color: #1559A6 !important;
            &::after {
              width: 1.6rem;
              height: 1.6rem;
            }
          }
        }
      }
      .item-image {
        img {
          max-height: 28rem;
          transition: all .3s ease-in-out;
        }
      }
      .item-text {
        background: url('../img/top/bg_item_text_interview_01.png') no-repeat center / cover;
        width: 25rem;
        height: 10.1rem;
        font-weight: 700;
        padding: 3.8rem 2.8rem 0;
        text-align: left;
        margin-top: -8rem;
        margin-left: -6.7rem;
        transition: all .3s ease-in-out;
      }
      .item-position {
        font-size: 1.2rem;
      }
      .item-name {
        font-size: 1.6rem;
      }
      .c-btn_border {
        min-width: 16.3rem;
        padding-bottom: .9rem;
        margin-top: 2rem;
      }
      .item-num {
        font-family: $cabin_condensed;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        position: absolute;
        top: 7.3rem;
        right: 1.8rem;
        transform: rotate(38.07deg);
      }
    }
    .splide__arrows {
      position: absolute;
      bottom: 7.6rem;
      left: 61.7rem;
      display: flex;
      width: 20.3rem;
      height: 6.4rem;
      justify-content: space-between;
      .splide__arrow {
        width: 6.4rem;
        height: 6.4rem;
        background: url('../img/icon_arrow_02.png') no-repeat center / contain;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        margin-top: 0;
        position: relative;
        transform: unset;
        svg {
          display: none;
        }
        &--prev {
          transform: scale(-1);
        }
      }
    }
    .splide__number {
      font-size: 1.6rem;
      font-weight: 700;
      position: absolute;
      bottom: 9.6rem;
      left: 70.7rem;
    }
  }
}


// -----------------------------------------------------------------
// CULTURE
// -----------------------------------------------------------------
.top-culture {
  padding: 10.4rem 0 22.2rem;
  position: relative;
  background: #FEF87C;
  &::before {
    content: '';
    width: 52.7rem;
    height: 39.3rem;
    background: url('../img/top/bg_culture_02.png') no-repeat center / contain;
    position: absolute;
    top: -5rem;
    left: 0;
  }

  &_inner {
    position: relative;
    max-width: 117.8rem;
    width: 100%;
    margin: 0 auto;
    padding: 16.2rem 0 0;
    &::before {
      content: '';
      width: 125.4rem;
      height: 142.1rem;
      background: url('../img/top/bg_culture_01.png') no-repeat center / contain;
      position: absolute;
      mix-blend-mode: multiply;
      z-index: 2;
      top: -9rem;
      left: -3.8rem;
      opacity: .9;
    }
  }

  &_content {
    position: relative;
    z-index: 2;
    padding: 0 10.9rem;
  }

  .c-hashtag {
    text-align: center;
    margin-bottom: 5rem;
  }

  &_lead {
    display: flex;
    align-items: flex-end;
  }

  &_copy {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0.05em;
    margin-left: 1.6rem;
  }

  &_link {
    margin: 4rem 0;
    .item {
      & + .item {
        margin-top: 2.4rem;
      }
      a {
        display: flex;
        align-items: flex-end;
        padding-left: 1.9rem;
        position: relative;
        &::before {
          content: '';
          width: .7rem;
          height: .7rem;
          background: #1559A6;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%) scale(0);
          transition: all .3s ease-in-out;
        }
        &:hover {
          &::before {
            transform: translateY(-50%) scale(01);
          }
          .item-ttl {
            color: #1559A6;
          }
          .c-btn {
            pointer-events: none;
            color: #1559A6 !important;
            border-color: #1559A6 !important;
            &::after {
              background: #1559A6;
              transform: scale(2.25);
            }
          }
        }
      }
      .item-ttl {
        font-size: 2rem;
        line-height: 1;
        font-weight: 700;
        width: 13.8rem;
        flex: 0 0 auto;
        span {
          display: block;
          font-family: $cabin_condensed;
          font-size: 1.4rem;
          margin-bottom: .3rem;
        }
      }
    }
  }

  &_image {
    width: 44.3rem;
    position: absolute;
    right: 5.4rem;
    top: 16.3rem;
    .image {
      position: absolute;
    }
    .image01 {
      width: 31.3rem;
      top: 0;
      left: 0;
    }
    .image02 {
      width: 36.15rem;
      top: -2.3rem;
      right: 0;
    }
  }
}

.js-hoverImg0 {
  transform: rotateZ(-2deg);
  z-index: 2;

  &.is-hovered {
    animation-name: r1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.735, -0.01, 0.465, 1.04);
    z-index: 2;
  }

  @keyframes r1 {
    0% {
      transform: rotateZ(-10deg);
      opacity: 0;
    }

    100% {
      transform: rotateZ(-2deg);
      opacity: 1;
    }
  }
}

.js-hoverImg1 {
  transform: rotateZ(2deg);
  z-index: 1;

  &.is-hovered {
    animation-name: r2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.735, -0.01, 0.465, 1.04);
    z-index: 2;
  }

  @keyframes r2 {
    0% {
      transform: rotateZ(-8deg);
      opacity: 0;
    }

    100% {
      transform: rotateZ(2deg);
      opacity: 1;
    }
  }
}

// -----------------------------------------------------------------
// PROGRAM
// -----------------------------------------------------------------
.top-program {
  position: relative;
  background: #FEF87C;
  padding-bottom: vw_pc(256);

  &_content {
    position: relative;
    z-index: 2;
    padding: 8.8rem 0 0;
    &::before {
      content: '';
      width: calc(50% + 50rem);
      background: #FEF87C;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 0 10rem 0 0;
    }
  }

  .l-inner {
    &::before {
      content: '';
      width: 7.5rem;
      height: 7.5rem;
      background: url('../img/top/icon_program_01.png') no-repeat center / contain;
      position: absolute;
      bottom: -12.7rem;
      left: -3.1rem;
    }
    &::after {
      content: '';
      width: 23.5rem;
      height: 15.2rem;
      background: url('../img/top/icon_program_02.png') no-repeat center / contain;
      position: absolute;
      bottom: -18.4rem;
      right: -.8rem;
    }
  }

  .c-hashtag {
    position: absolute;
    top: -151px;
    right: 182px;
  }

  &_heading {
    display: flex;
    align-items: flex-end;
    gap: 1.6rem;
  }

  &_copy {
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-right: 2.4rem;
  }

  &_list {
    display: flex;
    margin-top: 10rem;
    .item {
      width: calc(100%/3);
      position: relative;
      &:first-child {
        .item-image {
          border-left: 1px solid #222;
        }
      }
      &:nth-child(2n) {
        .item-image {
          background: rgba($color: #FEC75D, $alpha: .2);
        }
      }
      &:nth-child(2) {
        .item-image img {
          width: 27.5rem;
        }
      }
      &:nth-child(3) {
        .item-image img {
          width: 35.25rem;
          left: calc(50% + 6rem);
        }
      }
      a {
        display: block;
        height: 27.8rem;
        position: relative;
        &:hover {
          .item-image {
            background: #FFEA28;
            img {
              transform: translateX(-50%) scale(1.1);
            }
          }
          .item-text {
            background-image: url('../img/top/bg_btn_business_01_over.png');
            color: #fff;
          }
          .c-btn {
            color: #fff !important;
            border-color: #fff !important;
            pointer-events: none;
            &::after {
              background: #fff;
              transform: scale(2.25);
            }
          }
        }
      }
    }
    .item-image {
      height: 20rem;
      border: 1px solid #222;
      border-left: none;
      position: relative;
      background: #FFF467;
      transition: all .3s ease-in-out;
      img {
        position: absolute;
        width: 33.75rem;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: all .3s ease-in-out;
        transform-origin: bottom;
      }
    }
    .item-text {
      width: 28.1rem;
      height: 12.6rem;
      background: url('../img/top/bg_btn_business_01.png') no-repeat center / cover;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3.5rem;
      transition: all .3s ease-in-out;
    }
    .item-ttl {
      font-size: 2rem;
      line-height: 1;
      margin-bottom: 2rem;
      // transition: all .3s ease-in-out;
    }
    .c-btn {
      // min-width: ;
    }
  }
}

@keyframes boyon_ug4m426 {
  0% {
      transform: scale(1)
  }

  4% {
      transform: scale(1.1)
  }

  7% {
      transform: scale(0.91)
  }

  11% {
      transform: scale(1.05)
  }

  15% {
      transform: scale(0.99)
  }

  18% {
      transform: scale(1.01)
  }

  22% {
      transform: scale(1)
  }

  25% {
      transform: scale(1)
  }

  100% {
      transform: scale(1)
  }
}
